//STYLE RULES
//MARGIN, PADDING BOTTOM and LEFT
//MAGIC NUMBER = 10PX

//** Global styles for blocks on site:
//## Global variables
//## Global styles
//## Navigation Bar
//## Second Navigation Bar
//## Content Box-view

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import "fonts/montserrat.css";


//Nav Height *** Need to be updated after updating bootstrap
@firstnav-height: 42px;
@secnav-height: 38px;


@body-padding-top: @firstnav-height + @secnav-height + @magic-number*2;

//Media Size
@screen-xs: 480px;
@screen-xs-min: @screen-xs;
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-md: 992px;
@screen-md-min: @screen-md;
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-min: (@screen-md-min - 1);

.hidden-xxs{

  @media(max-width: 640px){
    display: none;
  }
}


//Global variables
@body-bg: #fbfbfb;
@main-color:#222;
@sub-color: #7db924;
@inactive-color: #888888;
@light-foreground: #fff;
@dark-foreground: rgba(0,0,0,.8);
@grey-foreground: #696969;
@lightgrey-foreground: #9a9a9a;
@hoveritem-foreground: #F3F3F3;

@job-color: #4ca2e2;
@startup-color: #e74c3c;
@investor-color: #8e44ad;
@product-color: #2ecc71;
@event-color: #f39c12;

// @sep-color: #e5e5e5;
@sep-color: #e5e5e5 ;

@box-bg:  #fff;
@box-border-color: #f2f2f2;
@box-border: 1px solid @box-border-color;

@nav-boxshadow: 0px 2px 10px rgba(0, 0, 0, 0.1);


@dropdown-height: 400px;
@dropdown-width: 250px;
@selectbox-color: #f7f7f7;



.bottom-sep{
    border-bottom: @box-border;
    padding-bottom: @magic-number*2;
}

.top-sep{
    margin-top: @magic-number*2;
    border-top: @box-border;
    padding-top: @magic-number*2;
}


//Font
@main-font: Open Sans;
@sub-font: Montserrat;

@font-size-normaltext: 1em;
@font-family-normaltext: Open Sans;
@line-height-normaltext: 1.8em;

//Font Styles
.sub-upper-font{
  font-family: @sub-font;
  text-transform: uppercase;
  font-weight: 400;
}

.main-bold-font{
  font-weight: 600;
  font-family: @main-font;
}


@magic-number: 10px;

.square-size(@size:60px){width: @size; height: @size};

//Global Styles
body{
  background: @body-bg;
  padding-top: @body-padding-top; // 96px; //Padding for navigation Height
  font-size: 14px;
  font-family: @font-family-normaltext !important;
  color: @grey-foreground;
  // line-height: 2;
  position: relative;

  .container{
    line-height: 1.8;
  }

  @media (max-width: @screen-md) {
    padding-top: 50px;
  }
}

h1, h2, h3{
  color: @dark-foreground;
  font-family: @sub-font;
  font-weight: 300;
}


a{
  color: @sub-color;
  &:focus, &:hover{
    color: @sub-color;
    text-decoration: none;
    -moz-text-decoration-color: inherit;
  }

  h1, h2, h3, h4, h5{
    color: @main-color;
  }
}

img{
  max-width: 100%;
  max-height: 100%;
}

strong{
  font-weight: 600;
}

//Button Styles
.btn{
  font-family: @sub-font;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 8px 28px;
  border-radius: 3px;
  border: none;

  &-default{
    background: @main-color;
    color: @light-foreground;
    &:hover{
      color: @light-foreground;
      background: black;      
    }
  }

  &-main{
    background: @sub-color;

    &:hover{
      background: darken(@sub-color, 10%);
    }
  }

  &-ghost{
    background: transparent;
    border: 2px @dark-foreground solid;
    color: @dark-foreground;
  }

  &-primary{
    background: @sub-color;
    border: @sub-color 2px solid;

    &:hover{
    border: @sub-color 2px solid;
      background: darken(@sub-color, 10%);
    }
    &:focus, &:active:focus, &:active:hover{
    border: @sub-color 2px solid;
      background: darken(@sub-color, 20%);
    }
  }
}

  
//Misc for Desktop
.post-misc{
	@button-size: 40px;
	position: absolute;
	left: -@button-size;

	.social-btn{
		width: @button-size; height: @button-size;
		display: block;
		text-align: center;
		margin-bottom: @magic-number;
    line-height: @button-size;
    
		i{
			vertical-align: middle;
			color: white;
		}
	}
	.facebook-btn{background: #3b5999;}
	.linkedin-btn{background:#0077B5}
	.twitter-btn{background:#55acee}
	.googleplus-btn{background:#dd4b39}
	.comments-btn{
		position: relative;
		background: @grey-foreground;
		.label{
			position: absolute;
			z-index: 5;
			top: 20px; right: @button-size/2;
			font-weight: normal;
			border-radius: 50%;
		}
	}
}

//Social Bar for mobile and tablet version
.post-misc-mobile{
  @btn-height: 40px;
  .post-misc;
  height: @btn-height;  
  padding: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, .0785);
  width: 100%;
  background-color: @light-foreground;    
  z-index: 1000;  
  transition: all 0.3s ease;

  .post-misc-socialbtns{
    float: left;
    
    .social-btn{
      display: inline-block;
      line-height: @btn-height;
      background: transparent;
      width: @btn-height;
      height: 100%;
      margin: 0;
      i{
        font-size: 12px;      
      }
    }

    .facebook-btn i{color: #3b5999;}
    .linkedin-btn i{color:#0077B5}
    .twitter-btn i{color:#55acee}
    .googleplus-btn i{color:#dd4b39}
  }
  
  .post-misc-nextpost{
    float: right;
    line-height: @btn-height;
    .next{
      color: @grey-foreground;
    }
    i{
      margin-left: @magic-number;
      color: @grey-foreground;      
      margin-right: @magic-number;
    }
  }
  
}

.post-misc-hidden{
  transform: translateY(50px);
}

.post-misc-visible{
  transform: translateY(0);
}

//Tags and Labels style
span.label, a.label{
  border-radius: 0;
  font-family: @sub-font;
  // font-weight: bold;
  text-transform: uppercase;
}

span.label-default, a.label-default{
  background: @main-color;
}

//Company and User Image
.company-img{
  border: @box-border;
  background: white;
  display: block;
  position: relative;
  .square-size();

  img{    
    vertical-align: middle;
    text-align: center;
    max-width: 80%; max-height: 80%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }
}

.user-img{
  border-radius: 50% !important;
  max-width: 100%;
  max-height: 100%;
  height: 32px; width: 32px;
}

//Misc for "Comment, Likes and Time" of a content
.misc{
  font-size: 11px;
  font-family: @sub-font;
  text-transform: uppercase;
  font-weight: 400;
  color: @inactive-color;

  a, a:hover{
    color: inherit;
    text-decoration: none;
  }
}

.misc-left{
  .misc;
  // font-family: @sub-font;
  margin-left: -15px;
  i{  
    margin-left: @magic-number*1.5;
    margin-right: @magic-number*0.5;
  }
}

.misc-right{
  .misc;
  i{
    margin-left: @magic-number*2;    
  }
}

//Content Box-view
.box-view-basic{
  background: @box-bg;
  border: @box-border;
  padding: @magic-number*2;
  margin-bottom: @magic-number*2;
  display: block;

  h2{
    font-weight: 400;
    font-size: 14px;
    font-family: @sub-font;
    text-transform: uppercase;
    margin-top:0;
    margin-bottom: @magic-number*2;
    letter-spacing: 1px;
  }
}

.box-view{
  .box-view-basic;
  margin-bottom: @magic-number*2; 
  position: relative;

  

  a.btn-edit{
    position: absolute;
    right: @magic-number*2;
    top: @magic-number;
    font-size: 1em;
  }

  h3{
    font-size: 1em;
    font-weight: 500;
  }
}

.box-view-transparent{
  .box-view;
  background: transparent;
  border: none;
}

//Tab nav
.nav-tabs{
  margin-bottom: @magic-number;

  li{
    font-family: @sub-font;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8em;   
    
    a, a:hover, a:active, a:focus, a:visited{
      border: none;
      border-radius: none;
      background: transparent;
      color: @inactive-color;
    }

     &.active, &:hover, &:active, &:focus{
      a, a:hover, a:active, a:focus, a:visited{
        .nav-tab-active();
      }
    }
  }   
}

.nav-tab-active(){
  border: none;
  color: @dark-foreground;  
  background: none;
  border: 1px solid @main-color;
  border-width: 0px 0px 4px 0px;
  font-family: @sub-font;
}

//Table Styles
.table-headers-block{
  font-weight: 400;
  font-family: @sub-font;
  border-bottom: @box-border;
  padding-top:@magic-number;
  font-size: 12px;
}

@media (max-width: @screen-md) {
  .table-headers-block{
    display: none;
  }
}


//Inputs
label{
  padding-left: 0 !important;
  font-family: @sub-font;
  font-weight: normal;
  color: @dark-foreground;
}

legend{
  font-size: 1em;
  text-transform: uppercase;
  margin-top: @magic-number*4;
  font-weight: bold;
}

.form-control{
  outline: none;
  border-width: 0 0 1px 0;
  box-shadow: none;
  border-radius: 0;

  &:focus{
    border-radius: 0;
    border-width: 0 0 2px 0;  
    border-color: @dark-foreground; 
    box-shadow: none;
  }
}
.input-group-addon{
  .form-control;
  border-bottom: 0px solid @body-bg;
  background: @body-bg;
}

.input-group{
  width: 100%
}

.form-control-dropdown{
  background: transparent;
  .form-control;
}

.form-group{
  margin-bottom: @magic-number*2;
}

// Comment
.comment-container{
  @user-img-size: 32px;
  margin-top: @magic-number*2;
  font-size: 14px;
  padding: @magic-number 0 0 0 ;

  a.comment-view-all{
    margin-top: @magic-number;
    margin-bottom: @magic-number;
    display: block;
  }

  .comment-block{
    margin-bottom: @magic-number;

    .comment-username{
      color: @dark-foreground;
      font-weight: bold;

      .comment-usertitle{
        font-weight: normal;
        color: @lightgrey-foreground;
      }
    }

    .comment-text{
      margin: 0;
    }

    .comment-misc{
      font-size: 0.8em;
      color: @lightgrey-foreground;
      // font-weight: bold;
      margin-top: @magic-number/2;
      text-transform: uppercase;
      font-family: @sub-font;

      a{
        color: inherit;
        margin-left: @magic-number;
      }
    }

    .reply-block{
      margin-left: @user-img-size + @magic-number;
    }

  }
  .user-img{
    width: @user-img-size; height: @user-img-size;
    float: left;
  }

  .comment-body{
    margin-left: @user-img-size + @magic-number;
    margin-bottom: @magic-number;
  }


  .comment-add{
    button{
      font-size: 0.7em;
      padding: 8px 24px;
      //display: none;
    }
  }  
}

// Navigation Bar
nav.navbar-fixed-top{
  border-bottom: 4px solid transparent;  
  border: none;
  background: transparent;

  //For Hoverable Items on Nav Bar
  .navbar-hover{
		ul{
			display: none;
		}
		&:hover ul{
				display: block;
		}
	}

  //For Clickable Items on Nav Bar
	.navbar-click{
		ul{
			display: none;
		}
		.navbar-close{display: none;}
		.navbar-open{display: block;}
	}

  // Badges for Notification and Message
  .has-badge{
    i{
      position: relative;
    }
    .badge{
      background: #e74c3c;
      position: absolute;
      font-size: 10px;
      padding: 3px 5px;
      top: -6px;
      right: -8px;
      font-family: @main-font;
    }
  }

  //Main (first) Navigation Bar and Mobile Version
	.firstNav{
		background: @main-color !important;
		position: relative; z-index: 100;		

    /*
    .navbar-header{
      .navbar-brand{
        margin-left: 0;
        padding: @magic-number;
        img{
          max-height: 100%;
        }
      }
    } 
    */

		#navbar {			
			.navbar-right {
				.dropdown-menu {
					background-color: @light-foreground ;
				}
			}		

      //Nav Items on Hover
      .navbar-nav{
        > li{
          > a{
            color: #f1f1f1;
            font-family: @sub-font ;
            font-weight: 300;
            letter-spacing: 0.2px;
            
            &:hover, &:focus, &:active{
              color: @light-foreground;
            }

          }
        }

        > li.open, > .open{
          > a, > a:hover, > a:focus{
            background: #000;
          }
        }
      }

      //Nav Bar Search Box
      .navbar-search{
        //Nav-search Height
        @height: 28px; 
        margin-top: 8px;
        width: 30%;
        font-size: 12px;
        .form-group{
          width: 100%;
            input{
              width: 100%;
            }
        }
        .form-control{
          height: @height;
          border-radius: 3px 0px 0px 3px ;
          border: none;
          font-size: inherit;
        }

        .input-group-addon{
          padding: 0;
          height: @height;
          background: white !important;
          width: 36px;
          margin: 0;
          font-size: 11px;
          border-radius: 0px 3px 3px 0px;
          border: 0;
          button{
              border:0;
              background:transparent;
          }
        }
      }
      
      //Mobile Nav
			@media (max-width: @screen-sm) {
        //Stretch Right Nav Bar to full width for mobile Menu
				.navbar-right {
					margin-top: 0; margin-bottom: 0;
					.navbar-logo img{
						height: 80%;
					}

          //Item (Home/Noti/Messages/Search/Menu Icons)
					> li {
						float: left;
						width: 100%/6;
						position: relative;
						text-align: center;

						&:not(:first-child) { 
							a {  }
						}

						> a { color: @light-foreground; }
					}
					.dropdown:not(.navbar-search-mobile) {
						position: static;

						div.dropdown-menu, ul.dropdown-menu{
							position: absolute;	left: 0; right: 0;
							height: 100vh;
							-webkit-overflow-scrolling: touch; // mobile safari
							z-index: 999;

              > ul.dropdown-menu{
                position: initial;
                // height: initial;
                overflow-y: initial;
              }
						}
					}

          //Search Box
					.navbar-search-mobile {
						position: static;

            .navbar-search{
              width: 100%;
              border-radius: 0;
              margin-top: 0;
              box-shadow: @nav-boxshadow;
            }

						.dropdown-menu {
							position: absolute;
							border: 1px solid @box-border-color;
						}
					}

					#navbar-secnav {
						li {
							border-bottom: 1px solid @sep-color;
							img {
								height: @magic-number*2;
								margin-right: @magic-number;
							}
						}
						
					}
				}
			}
		}

  }

  // 2nd Second Navigation Bar
  .secNav{
    background: @light-foreground;
    box-shadow: @nav-boxshadow;
    transition-duration: 0.5s;
    position: relative; z-index: 99;
    
    .container{
      @border-style: 1px solid rgba(128, 128, 128, 0.1);
      .navbar-nav {
        border: @border-style;
        border-width: 0 0 0 1px;
        li{
          border: @border-style;
          border-width: 0 1px 0 0;
          &:hover{
            background: rgba(0, 0, 0, 0.03); 
            transition: background-color 300ms ease;           
            // border: 2px solid @main-color; 
            // border-width:  0 0 4px 0;
          }
        }

        a{
          display: table-cell;
          vertical-align: middle;
          padding: 8px 15px;
          color: @dark-foreground;     
          font-size: 12px;
          img{
            height: 20px;
            margin-right: 8px;
          }
          span{
            vertical-align: middle;
          }

        }
      }
    }
  }
  // End 2nd Nav
}

//Message and Notification (Desktop Nav)
.navbar-noti, .navbar-messages{
  //For Dropdown menu thas has a sticky header
  div.dropdown-menu{   
    
    > ul.dropdown-menu{
      display: block;
      position: initial;
      border-radius: 0;
      box-shadow: none;
      border: none;

      @media (max-width: @screen-sm) {
        
        height: calc( 100% -  24px - 34px - @firstnav-height );
        
      }
    }

    .dropdown-sticky-element(){
      font-size: 12px;
      padding: @magic-number*0.5 @magic-number*2;
      background: @body-bg;
      font-weight: 600;
    }

    //Top Count for messages and noti
    .dropdown-sticky-itemscount{
      .dropdown-sticky-element;
      margin-top: -5px;      
    }

    //View all messages, noti button
    .dropdown-sticky-viewall{
      .dropdown-sticky-element;
      text-align: center;
      padding: 0px 20px;
      font-weight: 500;
    }

    //For Mobile
    @media (max-width: @screen-sm) {
      .dropdown-sticky-itemscount{
        height: 34px;
      }
      .dropdown-sticky-viewall{
        height: 24px;
      }
    }    
  }

  //Normal Dropdown menu style
  ul.dropdown-menu{
    min-width: 320px;
    max-width: 100%;
    max-height: @dropdown-height;
    overflow-x: hidden;
    
    >li{   
      a{
        white-space: normal;
        border-bottom: 1px @sep-color solid;
        padding-top: 10px;
        
        p{
          margin-left: 42px;
          margin-top: 0;
        }

        img, .user-img{
        width: 32px;
        margin-right: @magic-number;
        float: left;
        }

        .time{
          font-size: 0.8em;
        }
      }   
    }
  }
}

.navbar-profile{
  .user-img{
    .square-size(17px);
  }
  i{
    margin-right: @magic-number;
  }

  ul.navbar-profile-companies{
    padding:@magic-number @magic-number*4;
    li{
      list-style: none;
      margin-bottom: @magic-number;
      .company-img{
        width: 24px; height: 24px;
        float: left;
        margin-right: @magic-number;        
      }
      .company-name{
        color: @main-color;
      }
    } 
  }
 
}

//Hide nav when scroll
.nav-hidden{
  transform: translateY(-100px);
}

.nav-visible{
  transform: translateY(0);
}

//Big Hero
.big-hero{
  background-size: cover;
  height: 480px;
  width: 100%;
  color: @light-foreground;  
  font-family: @sub-font;
  margin-bottom: @magic-number*2;
  position: relative;
  margin-top: -54px;

   .container{
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 80px;
    
    h1{
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      color: @light-foreground;
      font-weight: 400;
      font-size: 3vw;
    }

    .hero-button{
      margin-top: @magic-number*4;
      i{
        margin-right: @magic-number;
      }
      background: white;
      color: @dark-foreground;
      font-size: 1em;
      font-weight:700;
      padding: 12px 40px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.42);
      &:hover, &:active{

      }      
    }
    
    h2{
      margin-top: @magic-number;
      color: @light-foreground;
      a{ 
        font-size: 0.6em;
        color: inherit;}
    }
   }

    .overlay{
    position: absolute;
    z-index: 0; top:0; bottom: 0; display: block;
    width: 100%; height: 100%;


      &-jobs{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ca2e2+0,4ca2e2+100&0.9+0,0.7+100 */
        background: -moz-linear-gradient(top,  rgba(76,162,226,0.9) 0%, rgba(76,162,226,0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(76,162,226,0.9) 0%,rgba(76,162,226,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(76,162,226,0.9) 0%,rgba(76,162,226,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64ca2e2', endColorstr='#b34ca2e2',GradientType=0 ); /* IE6-9 */
      }

      &-startups{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e74c3c+0,e74c3c+100&0.9+0,0.7+100 */
        background: -moz-linear-gradient(top,  rgba(231,76,60,0.9) 0%, rgba(231,76,60,0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(231,76,60,0.9) 0%,rgba(231,76,60,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(231,76,60,0.9) 0%,rgba(231,76,60,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e74c3c', endColorstr='#b3e74c3c',GradientType=0 ); /* IE6-9 */
      }

      &-investors{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e44ad+0,8e44ad+100&0.9+0,0.7+100 */
        background: -moz-linear-gradient(top,  rgba(142,68,173,0.9) 0%, rgba(142,68,173,0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(142,68,173,0.9) 0%,rgba(142,68,173,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(142,68,173,0.9) 0%,rgba(142,68,173,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e68e44ad', endColorstr='#b38e44ad',GradientType=0 ); /* IE6-9 */

      }
      &-products{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ecc71+0,2ecc71+100&0.9+0,0.7+100 */
        background: -moz-linear-gradient(top,  rgba(46,204,113,0.9) 0%, rgba(46,204,113,0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(46,204,113,0.9) 0%,rgba(46,204,113,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(46,204,113,0.9) 0%,rgba(46,204,113,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62ecc71', endColorstr='#b32ecc71',GradientType=0 ); /* IE6-9 */

      }
      &-events{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f39c12+0,f39c12+100&0.9+0,0.7+100 */
        background: -moz-linear-gradient(top,  rgba(243,156,18,0.9) 0%, rgba(243,156,18,0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(243,156,18,0.9) 0%,rgba(243,156,18,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(243,156,18,0.9) 0%,rgba(243,156,18,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f39c12', endColorstr='#b3f39c12',GradientType=0 ); /* IE6-9 */

      }
    }

}




///////////////////////////Profile @page
#profile-hero{
  background: url('https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg');
  background-size: cover;
  height: 260px;
  color: @light-foreground;  
  font-family: @sub-font;
  margin-bottom: @magic-number*2;

  .container{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-flow: row;
  }

  .user-img{
    width: 160px;
    height: 160px;
    margin-right: 20px;
  }

  .user-info{
    display: flex;
    flex-flow: column;
    color: @light-foreground;
    h1{
      font-weight: 500;
      color: inherit;
    }

    h2{
      margin-top: @magic-number*0;
      font-weight: 300;
      font-size: 1.4em;
      color: inherit;
    }
  }

    
  

  

  .profile-social-list{
    a{
      font-size: 1.6em;
      color: @light-foreground;
      margin-right: @magic-number*2;
      margin-top: @magic-number*2
    }
  }
}
.profile2{
  #profile-hero{
    margin-bottom: 0;
  }
}

.profile-navbar{
  background: white;
  margin-bottom: @magic-number;
  ul{
    padding-left: 0;
    list-style: none;
    float: left;
    margin:0;

    li{
      float: left;

      a{
        display: block;
        padding: 10px 20px;
        color: @main-color;
      }
    }
  }
}

#profile-content{
  .box-view{
  }

  .profile-side-nav{
    font-family: @sub-font;

    .listgroup{
      margin-left: 10px;
    }
    .list-group-item{
      background: transparent;
      border: none;
      border-bottom: 2px transparent solid;
      float: left;
      clear: left;
      padding: 10px 4px 0px 4px;
      color: @inactive-color;
      border-radius: 0;
    }
    
    .active, .list-group-item:hover{
      color: @dark-foreground;
      border: none;
      border-bottom: 2px solid @main-color;
      color: @dark-foreground;
    }

    .list-parent, .list-parent:hover{
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      font-size: 1.2em;
    }
  }

  .profile-exp{
    margin-bottom: @magic-number;
    .company-img{
      float: left;
      width: 80px;
      height: 80px;
    }
    .profile-exp-info{
      float: left;
      margin-left: @magic-number*1.5;

      h4{
        margin-top: 4px;
      }
    }

    i{
      color: @light-foreground;
    }


  }

  #profile-contributions{
    .article{
      margin: 0 0;
      color: @grey-foreground;
      padding: @magic-number*1.5 0;
      border-bottom: @box-border;

      a:hover{
        text-decoration: none;
      }

      .col{
        padding: 0;
      }
      
      img{
        width: 100px;
        float: left;
        margin-right: @magic-number*1.5;
        
      }
      
      h4, .misc a{
        line-height: 1.5em;
      }

      .misc{
        text-align: right;
        a{
          display: block;
        }
      }

      h4{
        margin-right: @magic-number;
        margin-top:0;
        color: @dark-foreground;
        font-size: 1.1em;
      
      }

      i{
        margin-left: @magic-number/2;
      }

      clear: both;
    }
  }

  #profile-invesment{

  }

  #profile-settings{

  }
}



//** Homepage
//## 

.home{
  .box-view-basic{
    // h2{
    //   font-size: 1.2em;
    //   font-family: @sub-font;
    //   margin-top: 0;
    //   text-transform: uppercase;
    // }
  }

  .home-slider{
    height: auto;
    // padding-left: 0;
    .home-slider-images{
      height: 480px;
      margin: -@magic-number*2;
      margin-bottom: 0;
      position: relative;

      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      img.home-slider-image-active{
        z-index: 10;
      }
    }
    
    

    .home-slider-overlay{
      width: 100%; height: 100%;
      position: absolute; top:0; left:0;
      z-index: 11;
      
      background: rgba(76,76,76,0);
      background: -moz-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(24,24,24,0.9) 92%, rgba(19,19,19,0.9) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,0)), color-stop(92%, rgba(24,24,24,0.9)), color-stop(100%, rgba(19,19,19,0.9)));
      background: -webkit-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(24,24,24,0.9) 92%, rgba(19,19,19,0.9) 100%);
      background: -o-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(24,24,24,0.9) 92%, rgba(19,19,19,0.9) 100%);
      background: -ms-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(24,24,24,0.9) 92%, rgba(19,19,19,0.9) 100%);
      background: linear-gradient(to bottom, rgba(76,76,76,0) 0%, rgba(24,24,24,0.9) 92%, rgba(19,19,19,0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
      
      // opacity: 0.2;
    }
    
    .home-slider-title{
      position: absolute;
      bottom: 0;
      color: @light-foreground;
      padding: @magic-number*2;
  
      a{
        color: @light-foreground;
        &:hover,&:focus {
          text-decoration: none;
        }
      }

      h2{
        font-size: 2.1em;
        text-transform: none;
        font-weight: 300;
        line-height: 1.3em;
        color: inherit;
      }
      .misc-left{
        color: inherit;
      }

      display: none;     

    }
    .home-slider-title-active{
      display: block;
      z-index: 11;
    }
   
    
    ul.home-slider-list{
      list-style: none;
      padding: 0;
      margin-bottom: -@magic-number;
      li{
        padding: @magic-number*2;
        font-size: 14px;
        line-height: 1.6em;
        position: relative;

        a{
          color: inherit;
        }
        
        &:nth-of-type(2) { 
          border: @box-border;
          border-width: 0 1px 0 1px;
        }

        &.active{
          color: @dark-foreground;
        }
        &:after{
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: #ffffff;
          border-width: 10px;
          margin-left: -10px;
          z-index: 20;

          transform: translate(0, +10px);
          transition: transform 0.5s ease;
        }
        &.active:after{
          transform: translate(0, 0);
          //bottom: 100%;
        }
      }
    }
  }


  .home-feeds{
     padding: @magic-number*2;
  }
}

//Side Content
.side-container{

  .side-home-e27{
    a{
      font-weight: 500;
    }
  }
  
  .side-jobs{
    ul{
      list-style: none;
      padding: 0;
      
    li.side-job{
      @company-img-size : 40px;
      margin-bottom: @magic-number;
      .company-img{
        .square-size(@company-img-size);
        float: left;
      }
      .side-job-info{
        margin-left: @company-img-size + @magic-number;
        h3,h4,h5{
          margin-top: 0;
          margin-bottom: @magic-number;
        }
        h3{
          font-size: 14px;
          font-weight: 400;
          color: @dark-foreground;
        }
        h4{
          font-size: 12px;
          color: @grey-foreground;
          font-weight: 600;
        }
        h5{
          font-size: 12px;
        }
      }
    }
      
    }
  }
}

//  Feeds
.feed{
  padding-top: @magic-number*2;
  padding-bottom: @magic-number*2;
  border: 1px @sep-color solid;
  border-width: 0 0 1px 0;
  // margin-left: -@magic-number*2;
  // margin-right: -@magic-number*2;
}

.feed-article{
  .feed;

  .media{
    
  }
  .content{
    h3{
      margin-top: 0;
      font-weight: 500;
      font-family: @sub-font;
      color: @dark-foreground;
      line-height: 1.3;
    }
    h4{
      font-size: @font-size-normaltext;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
 
}

.feed-featured-img{
  margin-left: -@magic-number*2;
  margin-right: -@magic-number*2;
  height: 300px;
  background: url('http://singaporefintech.com/wp-content/uploads/2016/03/Screen-Shot-2016-03-18-at-3.57.25-PM.png');
  background-size: cover;
  background-position: 50% 50%;

}

.feed-company{
  .feed;
  
  .company-img{
    width: 80px; height: 80px;
    float:left;
  }

  .content{
    margin-left: 90px;
    a{
      h3{
        color: @dark-foreground;
        font-weight: 400;
        margin-top: @magic-number;
        font-size: 1.2em;
      }
     
    }
    h4{
      font-size: 1em;
      line-height: 1.8em;
    }
  }
}

.feed2{
  display: block;
 .box-view-basic;
  margin-bottom: 100px;
}

.feed2-article{
  padding: 0;
  
  .media{
    float: left;

    .crop{
      display: block;
      width: 300px;
      height: 187px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  

}
// Post: article
.post-container{
	.post-article{
		padding: @magic-number*4;
		position: relative;
    line-height: 2;
	}
	.post-tags{
		font-size: 15px;
    .label{
      font-weight: normal;
    }
	}
	.post-meta{  
    @media(max-width: @screen-sm){
      text-align: left; 
    }

		.post-author{
			a{
				color: @dark-foreground;
				// font-weight: bold;
				font-family: @sub-font;
				.user-img{
					width: 32px; height: 32px;
					margin-right: @magic-number;
				}
			}
		}
		.post-date{
			// display: 
			// margin-left: @magic-number;
			font-size: 0.8em;
    }
  }

  .post-heading{
    font-family: @sub-font;
    font-weight: 600;
    font-size: 36px;
  }
  .post-subheading{
    text-transform: none;
    font-family: @main-font;
    letter-spacing: 0px;
  }
  
  .post-content{
    font-size: 16px;
  }
  .post-comments{
    .top-sep;
  }

  .post-related-companies{
    .top-sep;
    .company-img{
      float: left;
      margin-bottom: @magic-number;
      margin-right: @magic-number;
    }
    h3{
      overflow: hidden;
      min-width: 100px;
      margin-top: @magic-number;
    }
  }

  .post-author-des{
    .top-sep;
    
    @user-img-size : 48px;

    .user-img{
      .square-size(@user-img-size);
      float: left;
    }

    .author-info{
      float: left; margin-left: @magic-number;
      // margin-left:  @user-img-size + @magic-number;       
      .author-name{
        color: @dark-foreground;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 0;

      }
      .author-title{
        color: @grey-foreground;
      }
    }

    .author-cta{
      margin-bottom: @magic-number;
      text-align: right;

      @media(max-width: @screen-sm){
        text-align: left;
      }
      .btn{
        border-width: 1.5px;
        padding: 6px 20px;
        margin-bottom: @magic-number;
        
      }
    }

    margin-bottom: @magic-number;
    
  }
}


//** Jobs, Post Job, Job Detail Pages
//## Post a Job
//## Jobs Page
//## Job in Detail


//Post a Job
.job-post{
  h1{
    text-align: center;
    margin-bottom: @magic-number*4;
  }

  form{
    padding-left: @magic-number*6;
    padding-right: @magic-number*6;

    .job-post-header{
      .row{
        margin: 0;
      }
      .company-img{
        float: left;
      }
      .form-group{
      }
    }
  }

  .salary-form-group{
    .dropdown{
      float: left;
    }
    input{
      width: 80px;
      float: left;
      margin-left: @magic-number;
    }
    p{
      float: left;
      margin-left: @magic-number;
    }
  }
}


//Jobs Page
#jobs-page{
  .jobs-hero{
    background: url('http://shuzhong.biz/wp-content/uploads/office_background_wallpaper_135_1920_1080.jpeg');
    background-size: cover;
    background-position: 50% 80%;
    .hero-button{
      color: @job-color;
    }
  }

  .jobs-list-container{
      .jobs-list{
        margin-top: @magic-number*2;
        .job-block{
          display: block;
          color: @grey-foreground;
          border-bottom: @box-border;
          padding-bottom: @magic-number*2;
          padding-top: @magic-number*2;
          @company-img-size: 60px;
          position: relative;
          .company-img{
            .square-size(@company-img-size);
            float:left;
            
          }
          .job-content{
            margin-left:  @company-img-size;

            h3, h3 a{
              margin-top: @magic-number*0.5;
              color: @dark-foreground;
              font-size: 1.05em;
            }

            h4, h4 a{
              color: @grey-foreground;
              font-weight: 400;
              margin-top: 0;
              font-size: 1em;
            }

            button{
              background: transparent;
              border: none;
            }

            p{
              margin: 0;
              color: @grey-foreground;
            }
          }

          .job-block-save{
            position: absolute;
            top: 20px; right: 20px;
            cursor: pointer;
          }
        }
      }
  }
}

//Job in detail
.job-detail{
  .job-heading{
    .job-heading-left{
      @company-img-size: 100px;
      .company-img{
        .square-size(@company-img-size);
        float:left;
      }
      h1{
        margin-top: 0;
      }
      div{
        margin-left: @company-img-size + @magic-number*2;
        .job-info-name{
          display: inline;
        }
        .job-info-country{
          display: inline;
        }
      }
    }
    .job-heading-right{
      text-align: right;
      button{
        margin-bottom: @magic-number;
      }
      
      p{
        margin-top: 0;
        margin-bottom: 0;
      }

      .job-info-type{
        font-weight: 600;
      }
      
    }
    
  }
  .job-company-description{
    margin-top: @magic-number*2;
  }

  .job-description{
    margin-top: @magic-number*2;
  }
}


//** Company, Startups and Investors
//## Company Basic
//## Startups
//## Investor
.table-list-container(){
  .startups-list, .investors-list{
    .company-img{
        .square-size(48px);
        float: left;
        margin-right: @magic-number;
        margin-bottom: @magic-number;
    }
    
    .company-des{
      overflow: hidden;
      h3{
        margin-top:0;
        margin-bottom: @magic-number*0.5;
        font-size: 14px;
      }
      h4{
        line-height: normal;
        margin-top: 0;
        font-size: 12px;
      } 
    }
    
    .startup-block, .investor-block{
      margin: 0px -@magic-number*2;
      padding: @magic-number*2 ;
      font-size: 12px;
      display: block;
      .bottom-sep;
      .desc{
        font-weight: 700;
        display: none;          
      }
      @media(max-width: @screen-md){
        .desc{
        display: inline-block;            
        }
      }
      .value{
        line-height: normal;
        display: inline-block;          
      }

      &:hover{
        background: rgba(0, 0, 0, 0.02);
      }
    }
  }
}

#investors-page{
  .investors-hero{
    background: url('https://static.pexels.com/photos/29642/pexels-photo-29642.jpg');
    background-size: cover;
    background-position: 50% 50%;
    .hero-button{
      color: @investor-color;
    }
  }
  .investors-list-container{
    .table-list-container;    
  }
}
#startups-page{
  .startups-hero{
    background: url('https://static.pexels.com/photos/7097/people-coffee-tea-meeting.jpg');
    background-size: cover;
    background-position: 50% 80%;
    .hero-button{
      color: @startup-color;
    }
  }

  .startups-list-container{
    .table-list-container;
  }
}

//**Events Page
//## 
//##
#events-page{
  .events-hero{
    background: url('https://e27.co/dist/img/echelon_index/v2/connections.jpg');
    background-size: cover;
    background-position: 50% 50%;
    .hero-button{
      color: @event-color;
    }
  }

  .events-list-container{
    .events-list{
      .event-block{
        position: relative;
        .event-date{
          color: @light-foreground;
          background: @main-color;
          padding: 2px 12px;
          position: absolute; top: @magic-number; left: 0;
          font-weight: 600;
          font-size: 12px;
        }
        .event-img{
          margin: -@magic-number*2;
          margin-bottom: 0;
        }
        h3{
          font-size: 18px;
        }
      }
    }
  }
}

.event-detail-page{
  .event-detail{
    padding: @magic-number*4;
		position: relative;
   

    .event-image{
      margin-right: -40px;
      margin-left: -40px;
      margin-top: -40px;
      margin-bottom: 40px;
    }
    .event-meta{
      .top-sep;
      p{
        margin:0;
      }
      span{
        font-weight: 600;
      }
    }

    .event-description{
      .top-sep;
    }
  }
}

//Modules
.related-posts{
  .row{
    .related-post{
      display: block;
      margin-bottom: @magic-number*2;
      h4{
        font-family: @main-font;
        font-weight: 600;
        color: @dark-foreground;
        font-size: 1em;
        line-height: 18px;
      }
    }
  }
}

.search-block{
  margin-top: -70px;

  .search-block-main{
    padding-right: 40px;
  }

  .input-group-addon{
    background: transparent;
    position: absolute;    
    right: 20px;
    z-index: 100;
    button{
      background: transparent;
      border: none;
      
    }    
  }

  .search-block-filter{
    font-family: @sub-font;
    display: none;
  }
}

//SignInModal
.signin-modal{
  height: 50%; width: 80%
}

//Some Responsive code
@media (max-width: 1000px) { 
  .secNav{
    display: none;
  }
}