@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import "fonts/montserrat.css";
.bottom-sep {
  margin-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
}
.top-sep {
  margin-top: 20px;
  border-top: 1px solid #f2f2f2;
  padding-top: 20px;
}
.sub-upper-font {
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 400;
}
.main-bold-font {
  font-weight: 600;
  font-family: Open Sans;
}
body {
  background: #fbfbfb;
  padding-top: 80px;
  font-size: 14px;
  font-family: Open Sans !important;
  color: #696969;
  line-height: 24px;
}
h1,
h2,
h3 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Montserrat;
  font-weight: 300;
}
a {
  color: #7db924;
}
a:focus,
a:hover {
  color: #7db924;
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
strong {
  font-weight: 600;
}
.btn {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 8px 28px;
  border-radius: 3px;
  border: none;
}
.btn-default {
  background: #222;
  color: #fff;
}
.btn-default:hover {
  color: #fff;
  background: black;
}
.btn-main {
  background: #7db924;
}
.btn-main:hover {
  background: #608e1c;
}
.btn-ghost {
  background: transparent;
  border: 2px rgba(0, 0, 0, 0.8) solid;
  color: rgba(0, 0, 0, 0.8);
}
.btn-primary {
  background: #7db924;
  border: #7db924 2px solid;
}
.btn-primary:hover {
  border: #7db924 2px solid;
  background: #608e1c;
}
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
  border: #7db924 2px solid;
  background: #436413;
}
.post-misc {
  position: absolute;
  left: -40px;
}
.post-misc .social-btn {
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.post-misc .social-btn i {
  line-height: 40px;
  vertical-align: middle;
  color: white;
}
.post-misc .facebook-btn {
  background: #3b5999;
}
.post-misc .linkedin-btn {
  background: #0077B5;
}
.post-misc .twitter-btn {
  background: #55acee;
}
.post-misc .googleplus-btn {
  background: #dd4b39;
}
.post-misc .comments-btn {
  position: relative;
  background: #696969;
}
.post-misc .comments-btn .label {
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 20px;
  font-weight: normal;
  border-radius: 50%;
}
span.label {
  border-radius: 0;
  font-family: Montserrat;
  text-transform: uppercase;
}
span.label-default {
  background: #222;
}
.company-img {
  border: 1px solid #f2f2f2;
  background: white;
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
}
.company-img img {
  vertical-align: middle;
  text-align: center;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.user-img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  height: 32px;
  width: 32px;
}
.misc {
  font-size: 11px;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 400;
  color: #888888;
}
.misc a,
.misc a:hover {
  color: inherit;
  text-decoration: none;
}
.misc-left {
  font-size: 11px;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 400;
  color: #888888;
  margin-left: -15px;
}
.misc-left a,
.misc-left a:hover {
  color: inherit;
  text-decoration: none;
}
.misc-left i {
  margin-left: 15px;
  margin-right: 5px;
}
.misc-right {
  font-size: 11px;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 400;
  color: #888888;
}
.misc-right a,
.misc-right a:hover {
  color: inherit;
  text-decoration: none;
}
.misc-right i {
  margin-left: 20px;
}
.box-view-basic {
  background: #fff;
  border: 1px solid #f2f2f2;
  padding: 20px;
  margin-top: 20px;
}
.box-view-basic h2 {
  font-weight: 400;
  font-size: 15px;
  font-family: Montserrat;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.box-view {
  background: #fff;
  border: 1px solid #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}
.box-view h2 {
  font-weight: 400;
  font-size: 15px;
  font-family: Montserrat;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.box-view a.btn-edit {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 1em;
}
.box-view h3 {
  font-size: 1em;
  font-weight: 500;
}
.box-view-transparent {
  background: #fff;
  border: 1px solid #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  background: transparent;
  border: none;
}
.box-view-transparent h2 {
  font-weight: 400;
  font-size: 15px;
  font-family: Montserrat;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.box-view-transparent a.btn-edit {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 1em;
}
.box-view-transparent h3 {
  font-size: 1em;
  font-weight: 500;
}
.nav-tabs li {
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8em;
}
.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li a:active,
.nav-tabs li a:focus,
.nav-tabs li a:visited {
  border: none;
  border-radius: none;
  background: transparent;
  color: #888888;
}
.nav-tabs li.active a,
.nav-tabs li:hover a,
.nav-tabs li:active a,
.nav-tabs li:focus a,
.nav-tabs li.active a:hover,
.nav-tabs li:hover a:hover,
.nav-tabs li:active a:hover,
.nav-tabs li:focus a:hover,
.nav-tabs li.active a:active,
.nav-tabs li:hover a:active,
.nav-tabs li:active a:active,
.nav-tabs li:focus a:active,
.nav-tabs li.active a:focus,
.nav-tabs li:hover a:focus,
.nav-tabs li:active a:focus,
.nav-tabs li:focus a:focus,
.nav-tabs li.active a:visited,
.nav-tabs li:hover a:visited,
.nav-tabs li:active a:visited,
.nav-tabs li:focus a:visited {
  border: none;
  color: rgba(0, 0, 0, 0.8);
  background: none;
  border: 1px solid #222;
  border-width: 0px 0px 4px 0px;
  font-family: Montserrat;
}
label {
  padding-left: 0 !important;
  font-family: Montserrat;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
}
legend {
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 40px;
  font-weight: bold;
}
.form-control {
  outline: none;
  border-width: 0 0 1px 0;
  box-shadow: none;
  border-radius: 0;
}
.form-control:focus {
  border-radius: 0;
  border-width: 0 0 2px 0;
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
.input-group-addon {
  outline: none;
  border-width: 0 0 1px 0;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 0px solid #fbfbfb;
  background: #fbfbfb;
}
.input-group-addon:focus {
  border-radius: 0;
  border-width: 0 0 2px 0;
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
.input-group {
  width: 100%;
}
.form-control-dropdown {
  background: transparent;
  outline: none;
  border-width: 0 0 1px 0;
  box-shadow: none;
  border-radius: 0;
}
.form-control-dropdown:focus {
  border-radius: 0;
  border-width: 0 0 2px 0;
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
.form-group {
  margin-bottom: 20px;
}
.comment-container {
  margin-top: 20px;
  font-size: 14px;
  padding: 10px 0 0 0;
}
.comment-container a.comment-view-all {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
.comment-container .comment-block {
  margin-bottom: 10px;
}
.comment-container .comment-block .comment-username {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
.comment-container .comment-block .comment-username .comment-usertitle {
  font-weight: normal;
  color: #9a9a9a;
}
.comment-container .comment-block .comment-text {
  margin: 0;
}
.comment-container .comment-block .comment-misc {
  font-size: 0.8em;
  color: #9a9a9a;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: Montserrat;
}
.comment-container .comment-block .comment-misc a {
  color: inherit;
  margin-left: 10px;
}
.comment-container .comment-block .reply-block {
  margin-left: 42px;
}
.comment-container .user-img {
  width: 32px;
  height: 32px;
  float: left;
}
.comment-container .comment-body {
  margin-left: 42px;
  margin-bottom: 10px;
}
.comment-container .comment-add button {
  font-size: 0.7em;
  padding: 8px 24px;
}
nav.navbar-fixed-top {
  border-bottom: 4px solid transparent;
  border: none;
  background: transparent;
}
nav.navbar-fixed-top .firstNav {
  background: #222 !important;
  position: relative;
  z-index: 100;
}
nav.navbar-fixed-top .firstNav .navbar-header .navbar-brand {
  margin-left: 0;
  padding: 6px;
}
nav.navbar-fixed-top .firstNav .navbar-header .navbar-brand img {
  max-height: 100%;
}
nav.navbar-fixed-top .firstNav ul.navbar-nav > li > a {
  color: #fff;
  font-family: Montserrat;
  font-weight: 300;
  letter-spacing: 0.2px;
}
nav.navbar-fixed-top .firstNav ul.navbar-nav > li > a:hover,
nav.navbar-fixed-top .firstNav ul.navbar-nav > li > a:focus,
nav.navbar-fixed-top .firstNav ul.navbar-nav > li > a:active {
  color: #fff;
}
nav.navbar-fixed-top .firstNav #navbar-search {
  width: 40%;
}
nav.navbar-fixed-top .firstNav #navbar-search .form-group {
  width: 100%;
}
nav.navbar-fixed-top .firstNav #navbar-search .form-group input {
  width: 100%;
}
nav.navbar-fixed-top .firstNav #navbar-search .form-control {
  border-radius: 4px 0px 0px 4px ;
  border: none;
}
nav.navbar-fixed-top .firstNav #navbar-search .input-group-addon {
  background: white !important;
  width: 36px;
  margin: 0;
  border-radius: 0px 4px 4px 0px;
}
nav.navbar-fixed-top .firstNav #navbar-search .input-group-addon button {
  border: 0;
  background: transparent;
}
nav.navbar-fixed-top .secNav {
  background: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition-duration: 0.5s;
  position: relative;
  z-index: 99;
}
nav.navbar-fixed-top .secNav .container .navbar-nav {
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-width: 0 0 0 1px;
}
nav.navbar-fixed-top .secNav .container .navbar-nav li {
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-width: 0 1px 0 0;
}
nav.navbar-fixed-top .secNav .container .navbar-nav li:hover {
  background: rgba(0, 0, 0, 0.03);
}
nav.navbar-fixed-top .secNav .container .navbar-nav a {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
nav.navbar-fixed-top .secNav .container .navbar-nav a img {
  height: 20px;
  margin-right: 8px;
}
nav.navbar-fixed-top .secNav .container .navbar-nav a span {
  vertical-align: middle;
}
.navbar-noti .dropdown-menu,
.navbar-messages .dropdown-menu {
  min-width: 360px;
  max-width: 100%;
  height: 400px;
}
.navbar-noti .dropdown-menu > li a,
.navbar-messages .dropdown-menu > li a {
  white-space: normal;
  border-bottom: 1px #e5e5e5 solid;
  padding-top: 10px;
}
.navbar-noti .dropdown-menu > li a p,
.navbar-messages .dropdown-menu > li a p {
  margin-left: 42px;
  margin-top: 5px;
}
.navbar-noti .dropdown-menu > li a img,
.navbar-messages .dropdown-menu > li a img,
.navbar-noti .dropdown-menu > li a .user-img,
.navbar-messages .dropdown-menu > li a .user-img {
  width: 32px;
  margin-right: 10px;
  float: left;
}
.navbar-noti .dropdown-menu > li a .time,
.navbar-messages .dropdown-menu > li a .time {
  font-size: 0.8em;
}
.navbar-profile .user-img {
  width: 20px;
  height: 20px;
}
.navbar-profile i {
  margin-right: 10px;
}
.navbar-profile ul.navbar-profile-companies {
  padding: 10px 30px;
}
.navbar-profile ul.navbar-profile-companies li {
  list-style: none;
  margin-bottom: 10px;
}
.navbar-profile ul.navbar-profile-companies li .company-img {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 10px;
}
.navbar-profile ul.navbar-profile-companies li .company-name {
  color: #222;
}
.nav-hidden {
  transform: translateY(-60px);
}
.nav-visible {
  transform: translateY(0);
}
.big-hero {
  background-size: cover;
  height: 480px;
  width: 100%;
  color: #fff;
  font-family: Montserrat;
  margin-bottom: 20px;
  position: relative;
}
.big-hero .container {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-top: 80px;
}
.big-hero .container h1 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 400;
  font-size: 3vw;
}
.big-hero .container .hero-button {
  margin-top: 40px;
  background: white;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  font-weight: 700;
  padding: 12px 40px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.42);
}
.big-hero .container .hero-button i {
  margin-right: 10px;
}
.big-hero .container h2 {
  margin-top: 10px;
  color: #fff;
}
.big-hero .container h2 a {
  font-size: 0.6em;
  color: inherit;
}
.big-hero .overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.big-hero .overlay-jobs {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ca2e2+0,4ca2e2+100&0.9+0,0.7+100 */
  background: -moz-linear-gradient(top, rgba(76, 162, 226, 0.9) 0%, rgba(76, 162, 226, 0.7) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76, 162, 226, 0.9) 0%, rgba(76, 162, 226, 0.7) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76, 162, 226, 0.9) 0%, rgba(76, 162, 226, 0.7) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e64ca2e2', endColorstr='#b34ca2e2', GradientType=0);
  /* IE6-9 */
}
#profile-hero {
  background: url('https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg');
  background-size: cover;
  height: 260px;
  color: #fff;
  font-family: Montserrat;
  margin-bottom: 20px;
}
#profile-hero .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-flow: row;
}
#profile-hero .user-img {
  width: 160px;
  height: 160px;
  margin-right: 20px;
}
#profile-hero .user-info {
  display: flex;
  flex-flow: column;
}
#profile-hero .user-info h1 {
  font-weight: 500;
  color: #fff;
}
#profile-hero .user-info h2 {
  margin-top: 0px;
  font-weight: 300;
  font-size: 1.4em;
}
#profile-hero .profile-social-list a {
  font-size: 1.6em;
  color: #fff;
  margin-right: 20px;
  margin-top: 20px;
}
#profile-content .box-view {
  width: 640px;
}
#profile-content .profile-side-nav {
  font-family: Montserrat;
}
#profile-content .profile-side-nav .listgroup {
  margin-left: 10px;
}
#profile-content .profile-side-nav .list-group-item {
  background: transparent;
  border: none;
  border-bottom: 2px transparent solid;
  float: left;
  clear: left;
  padding: 10px 4px 0px 4px;
  color: #888888;
  border-radius: 0;
}
#profile-content .profile-side-nav .active,
#profile-content .profile-side-nav .list-group-item:hover {
  border: none;
  border-bottom: 2px solid #222;
  color: rgba(0, 0, 0, 0.8);
}
#profile-content .profile-side-nav .list-parent,
#profile-content .profile-side-nav .list-parent:hover {
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  font-size: 1.2em;
}
#profile-content .profile-exp {
  margin-bottom: 10px;
}
#profile-content .profile-exp .company-img {
  float: left;
  width: 80px;
  height: 80px;
}
#profile-content .profile-exp .profile-exp-info {
  float: left;
  margin-left: 15px;
}
#profile-content .profile-exp .profile-exp-info h4 {
  margin-top: 4px;
}
#profile-content .profile-exp i {
  color: #fff;
}
#profile-content #profile-contributions .article {
  margin: 0 0;
  color: #696969;
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2;
  clear: both;
}
#profile-content #profile-contributions .article a:hover {
  text-decoration: none;
}
#profile-content #profile-contributions .article .col {
  padding: 0;
}
#profile-content #profile-contributions .article img {
  width: 100px;
  float: left;
  margin-right: 15px;
}
#profile-content #profile-contributions .article h4,
#profile-content #profile-contributions .article .misc a {
  line-height: 1.5em;
}
#profile-content #profile-contributions .article .misc {
  text-align: right;
}
#profile-content #profile-contributions .article .misc a {
  display: block;
}
#profile-content #profile-contributions .article h4 {
  margin-right: 10px;
  margin-top: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.1em;
}
#profile-content #profile-contributions .article i {
  margin-left: 5px;
}
.home .home-slider {
  height: auto;
}
.home .home-slider .home-slider-image {
  height: 100%;
  margin: -20px;
  margin-bottom: 0;
  position: relative;
}
.home .home-slider .home-slider-image img {
  width: 100%;
  height: 100%;
}
.home .home-slider .home-slider-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(76, 76, 76, 0);
  background: -moz-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(24, 24, 24, 0.9) 92%, rgba(19, 19, 19, 0.9) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76, 76, 76, 0)), color-stop(92%, rgba(24, 24, 24, 0.9)), color-stop(100%, rgba(19, 19, 19, 0.9)));
  background: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(24, 24, 24, 0.9) 92%, rgba(19, 19, 19, 0.9) 100%);
  background: -o-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(24, 24, 24, 0.9) 92%, rgba(19, 19, 19, 0.9) 100%);
  background: -ms-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(24, 24, 24, 0.9) 92%, rgba(19, 19, 19, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0%, rgba(24, 24, 24, 0.9) 92%, rgba(19, 19, 19, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
}
.home .home-slider .home-slider-title {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 20px;
}
.home .home-slider .home-slider-title a {
  color: #fff;
}
.home .home-slider .home-slider-title a:hover,
.home .home-slider .home-slider-title a:focus {
  text-decoration: none;
}
.home .home-slider .home-slider-title h2 {
  font-size: 2.1em;
  text-transform: none;
  font-weight: 300;
  line-height: 1.3em;
  color: inherit;
}
.home .home-slider .home-slider-title .misc-left {
  color: inherit;
}
.home .home-slider ul.home-slider-list {
  list-style: none;
  padding: 0;
  margin-bottom: -10px;
}
.home .home-slider ul.home-slider-list li {
  padding: 20px;
  font-size: 14px;
  line-height: 1.6em;
  position: relative;
}
.home .home-slider ul.home-slider-list li:nth-of-type(2) {
  border: 1px solid #f2f2f2;
  border-width: 0 1px 0 1px;
}
.home .home-slider ul.home-slider-list li:hover,
.home .home-slider ul.home-slider-list li.active {
  color: rgba(0, 0, 0, 0.8);
}
.home .home-slider ul.home-slider-list li:hover:after,
.home .home-slider ul.home-slider-list li.active:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.home .home-feeds {
  padding: 20px;
}
.side-container .side-home-e27 a {
  font-weight: 500;
}
.side-container .side-jobs ul {
  list-style: none;
  padding: 0;
}
.side-container .side-jobs ul li.side-job {
  margin-bottom: 10px;
}
.side-container .side-jobs ul li.side-job .company-img {
  width: 40px;
  height: 40px;
  float: left;
}
.side-container .side-jobs ul li.side-job .side-job-info {
  margin-left: 50px;
}
.side-container .side-jobs ul li.side-job .side-job-info h3,
.side-container .side-jobs ul li.side-job .side-job-info h4,
.side-container .side-jobs ul li.side-job .side-job-info h5 {
  margin-top: 0;
  margin-bottom: 10px;
}
.side-container .side-jobs ul li.side-job .side-job-info h3 {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}
.side-container .side-jobs ul li.side-job .side-job-info h4 {
  font-size: 12px;
  color: #696969;
  font-weight: 600;
}
.side-container .side-jobs ul li.side-job .side-job-info h5 {
  font-size: 12px;
}
.feed {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px #e5e5e5 solid;
  border-width: 0 0 1px 0;
}
.feed-article {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px #e5e5e5 solid;
  border-width: 0 0 1px 0;
}
.feed-article .content {
  padding-left: 0;
}
.feed-article .content h3 {
  margin-top: 0;
  font-weight: 500;
  font-family: Montserrat;
  color: rgba(0, 0, 0, 0.8);
}
.feed-article .content h4 {
  font-size: 1em;
}
.feed-featured-img {
  margin-left: -20px;
  margin-right: -20px;
  height: 300px;
  background: url('http://singaporefintech.com/wp-content/uploads/2016/03/Screen-Shot-2016-03-18-at-3.57.25-PM.png');
  background-size: cover;
  background-position: 50% 50%;
}
.feed-company {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px #e5e5e5 solid;
  border-width: 0 0 1px 0;
}
.feed-company .company-img {
  width: 80px;
  height: 80px;
  float: left;
}
.feed-company .content {
  margin-left: 90px;
}
.feed-company .content a h3 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  margin-top: 10px;
  font-size: 1.2em;
}
.feed-company .content h4 {
  font-size: 1em;
  line-height: 1.8em;
}
.post-container .post-article {
  padding: 40px;
  position: relative;
}
.post-container .post-article .post-misc {
  position: absolute;
}
.post-container .post-tags {
  font-size: 15px;
}
.post-container .post-tags .label {
  font-weight: normal;
}
.post-container .post-meta .post-author a {
  color: rgba(0, 0, 0, 0.8);
  font-family: Montserrat;
}
.post-container .post-meta .post-author a .user-img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.post-container .post-meta .post-date {
  font-size: 0.8em;
}
.post-container .post-heading {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 36px;
}
.post-container .post-subheading {
  text-transform: none;
  font-family: Open Sans;
}
.post-container .post-comments {
  margin-top: 20px;
  border-top: 1px solid #f2f2f2;
  padding-top: 20px;
}
.post-container .post-related-companies {
  margin-top: 20px;
  border-top: 1px solid #f2f2f2;
  padding-top: 20px;
}
.post-container .post-related-companies .company-img {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}
.post-container .post-related-companies h3 {
  overflow: hidden;
  min-width: 100px;
  margin-top: 10px;
}
.post-container .post-author-des {
  margin-top: 20px;
  border-top: 1px solid #f2f2f2;
  padding-top: 20px;
}
.post-container .post-author-des a {
  margin-bottom: 10px;
}
.post-container .post-author-des a .user-img {
  width: 48px;
  height: 48px;
  float: left;
}
.post-container .post-author-des a .author-info {
  float: left;
  margin-left: 10px;
}
.post-container .post-author-des a .author-info .author-name {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
}
.post-container .post-author-des a .author-info .author-title {
  color: #696969;
}
.post-container .post-author-des a .author-cta {
  float: right;
}
.post-container .post-author-des a .author-cta .btn {
  border-width: 1.5px;
  padding: 6px 20px;
}
.job-post h1 {
  text-align: center;
  margin-bottom: 40px;
}
.job-post form {
  padding-left: 60px;
  padding-right: 60px;
}
.job-post form .job-post-header .row {
  margin: 0;
}
.job-post form .job-post-header .company-img {
  float: left;
}
.job-post .salary-form-group .dropdown {
  float: left;
}
.job-post .salary-form-group input {
  width: 80px;
  float: left;
  margin-left: 10px;
}
.job-post .salary-form-group p {
  float: left;
  margin-left: 10px;
}
#jobs-page .jobs-hero {
  background: url('http://shuzhong.biz/wp-content/uploads/office_background_wallpaper_135_1920_1080.jpeg');
  background-size: cover;
  background-position: 50% 80%;
}
#jobs-page .jobs-hero .hero-button {
  color: #4ca2e2;
}
#jobs-page .jobs-listing-container .jobs-listing {
  margin-top: 20px;
}
#jobs-page .jobs-listing-container .jobs-listing .job-block {
  display: block;
  color: #696969;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
#jobs-page .jobs-listing-container .jobs-listing .job-block .company-img {
  width: 60px;
  height: 60px;
  float: left;
}
#jobs-page .jobs-listing-container .jobs-listing .job-block .job-content {
  margin-left: 60px;
}
#jobs-page .jobs-listing-container .jobs-listing .job-block .job-content h3,
#jobs-page .jobs-listing-container .jobs-listing .job-block .job-content h3 a {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.05em;
}
#jobs-page .jobs-listing-container .jobs-listing .job-block .job-content h4,
#jobs-page .jobs-listing-container .jobs-listing .job-block .job-content h4 a {
  color: #696969;
  font-weight: 400;
  margin-top: 0;
  font-size: 1em;
}
#jobs-page .jobs-listing-container .jobs-listing .job-block .job-content button {
  background: transparent;
  border: none;
}
#jobs-page .jobs-listing-container .jobs-listing .job-block .job-block-save {
  position: absolute;
  top: 20px;
  right: 20px;
}
.job-detail .job-heading .job-heading-left .company-img {
  width: 100px;
  height: 100px;
  float: left;
}
.job-detail .job-heading .job-heading-left h1 {
  margin-top: 0;
}
.job-detail .job-heading .job-heading-left div {
  margin-left: 120px;
}
.job-detail .job-heading .job-heading-left div .job-info-name {
  display: inline;
}
.job-detail .job-heading .job-heading-left div .job-info-country {
  display: inline;
}
.job-detail .job-heading .job-heading-right {
  text-align: right;
}
.job-detail .job-heading .job-heading-right button {
  margin-bottom: 10px;
}
.job-detail .job-heading .job-heading-right p {
  margin-top: 0;
  margin-bottom: 0;
}
.job-detail .job-heading .job-heading-right .job-info-type {
  font-weight: 600;
}
.job-company-description {
  margin-top: 20px;
}
.job-description {
  margin-top: 20px;
}
.related-posts .row .related-post h4 {
  font-family: Open Sans;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  line-height: 18px;
}
.search-block {
  margin-top: -60px;
}
.search-block .search-block-main {
  padding-right: 40px;
}
.search-block .input-group-addon {
  background: transparent;
  position: absolute;
  right: 20px;
  z-index: 100;
}
.search-block .input-group-addon button {
  background: transparent;
  border: none;
}
.search-block .search-block-filter {
  font-family: Montserrat;
  display: none;
}
@media (max-width: 1000px) {
  .secNav {
    display: none;
  }
}
