@font-face {
  font-family: "Montserrat";
  src: url("../../css/fonts/Montserrat-Medium.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../../css/fonts/Montserrat-SemiBold.ttf");
  font-weight: bold; }

@font-face {
  font-family: "Montserrat";
  src: url("../../css/fonts/Montserrat-ExtraLight.ttf");
  font-weight: lighter; }

body {
  font-family: "Open Sans"; }

#top100-page {
  font-size: 15px;
  color: #333; }
  #top100-page div.top100-nav-container {
    background: #0b5394;
    color: white;
    border-radius: 0;
    border: none; }
    #top100-page div.top100-nav-container .top100-nav {
      text-align: center; }
    #top100-page div.top100-nav-container .navbar-center {
      margin: 0 auto;
      text-align: center;
      display: inline-block;
      float: none; }
      #top100-page div.top100-nav-container .navbar-center a {
        color: white;
        font-family: "Montserrat";
        text-transform: uppercase;
        font-weight: 600; }
        #top100-page div.top100-nav-container .navbar-center a:hover, #top100-page div.top100-nav-container .navbar-center a.active {
          color: #0b5394;
          background: white; }
  #top100-page .top100-card {
    text-align: center;
    margin: 0 auto;
    padding: 20px; }
    #top100-page .top100-card .top100-card-img {
      border-radius: 50%;
      width: 160px;
      height: 160px;
      display: block;
      background: rgba(255, 255, 255, 0.9);
      border: 3px solid #fff;
      margin: 0 auto 20px; }
      #top100-page .top100-card .top100-card-img img {
        margin-top: 48px;
        max-height: 64px;
        vertical-align: middle; }
    #top100-page .top100-card .top100-card-text {
      font-size: 20px; }
  #top100-page .highlights-card {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    background: #fff;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
    margin-top: 0;
    min-height: 369px;
    height: auto;
    border-radius: 4px; }
    #top100-page .highlights-card img {
      height: 180px;
      background-position: 50% 50% !important;
      background-size: cover !important; }
    #top100-page .highlights-card .image-cover {
      height: 180px;
      background-size: cover !important;
      background-position: 50% 50% !important; }
    #top100-page .highlights-card h3, #top100-page .highlights-card p {
      margin-left: 30px;
      margin-right: 30px;
      text-align: center;
      color: #333; }
    #top100-page .highlights-card h3 {
      font-weight: 600; }
    #top100-page .highlights-card p {
      font-size: 14px; }
  #top100-page .btn-black-line {
    white-space: normal;
    color: #081945;
    font-size: 15px !important;
    letter-spacing: 2px;
    border: 2px solid black;
    width: auto;
    padding: 10px 48px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: all 200ms ease-in-out;
    background: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 10px; }
    #top100-page .btn-black-line:hover {
      color: #fff;
      border-color: #0b5394;
      background: #0b5394 !important; }
  #top100-page .echelon-contact .btn-black-line {
    font-size: 12px; }
  #top100-page .section-blue, #top100-page section.applynow, #top100-page section.industries, #top100-page section.enjoys, #top100-page section.prizes, #top100-page section.testimonials, #top100-page section.how-to-apply {
    color: white;
    background: #0b5394;
    background: url("https://e27.co/dist/img/echelon_index/blue-polygon.svg");
    background-size: cover; }
    #top100-page .section-blue h1, #top100-page section.applynow h1, #top100-page section.industries h1, #top100-page section.enjoys h1, #top100-page section.prizes h1, #top100-page section.testimonials h1, #top100-page section.how-to-apply h1 {
      color: white;
      font-weight: 700; }
  #top100-page section {
    width: 100%;
    padding: 60px 0 100px; }
    #top100-page section.industries2 .section-content, #top100-page section.prizes .section-content {
      max-width: 840px; }
    #top100-page section .container {
      margin: 0 auto; }
    #top100-page section .section-header {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 40px; }
      #top100-page section .section-header h1 {
        font-weight: 600;
        text-align: center; }
    #top100-page section .section-content {
      margin: 0 auto; }
      #top100-page section .section-content a.btn {
        margin-top: 40px; }
    #top100-page section.top100-header {
      padding: 0;
      height: auto;
      min-height: 360px;
      background: #222;
      background: url("../img/top100-bg.jpg") no-repeat;
      background-size: cover;
      background-position: 50% 60%;
      position: relative; }
      #top100-page section.top100-header .top100-overlay {
        background: rgba(3, 53, 86, 0.95);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.7+0,0.2+100 */ }
        #top100-page section.top100-header .top100-overlay .breaknews {
          background-color: #00507d;
          color: #73C7B7;
          text-align: center;
          padding: 5px; }
      #top100-page section.top100-header h1 {
        color: white;
        font-weight: 500;
        line-height: 1.3;
        font-size: 3.5em; }
      #top100-page section.top100-header h2 {
        color: white;
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: 40px; }
      #top100-page section.top100-header .container .top100-header-content {
        margin: 100px auto;
        text-align: center;
        position: relative;
        z-index: 10; }
        #top100-page section.top100-header .container .top100-header-content .main-logo {
          display: block; }
          #top100-page section.top100-header .container .top100-header-content .main-logo img {
            max-height: 200px;
            max-width: 80%;
            margin-bottom: 32px; }
        #top100-page section.top100-header .container .top100-header-content .countdown .countdown-title {
          display: block;
          text-align: center;
          font-size: 1.5em;
          color: #73C7B7;
          margin-bottom: 12px; }
        #top100-page section.top100-header .container .top100-header-content .countdown #time-countdown {
          display: block;
          color: #fff; }
          #top100-page section.top100-header .container .top100-header-content .countdown #time-countdown .timebox {
            display: inline-block;
            margin-left: 15px; }
            #top100-page section.top100-header .container .top100-header-content .countdown #time-countdown .timebox span {
              display: inline-block;
              background-color: #00507d;
              padding: 5px 0px;
              width: 50px;
              font-size: 1.5em;
              border: 1px dashed #73C7B7;
              margin-bottom: 6px; }
        #top100-page section.top100-header .container .top100-header-content .btn-apply {
          background-color: transparent;
          border: 2px solid white;
          color: white;
          padding: 10px 64px;
          display: inline-block;
          margin-top: 36px;
          margin-left: auto;
          margin-right: auto; }
        #top100-page section.top100-header .container .top100-header-content .partners {
          margin-top: 40px;
          height: 48px;
          display: block; }
          #top100-page section.top100-header .container .top100-header-content .partners a {
            display: inline-block;
            vertical-align: bottom;
            padding: 10px; }
            #top100-page section.top100-header .container .top100-header-content .partners a img {
              height: 60%; }
          #top100-page section.top100-header .container .top100-header-content .partners .partner-pwc img {
            height: 100%; }
      #top100-page section.top100-header .container .top100-nav {
        background: #0b5394; }
    #top100-page section.intro {
      background: url("../img/asia_map_50.png") no-repeat;
      background-size: contain;
      background-position-x: 0 0; }
      #top100-page section.intro .section-content {
        font-size: 1.3em;
        text-align: left; }
      #top100-page section.intro p {
        margin: 0 auto 30px; }
      #top100-page section.intro .intro-detail-eg {
        color: #00507d;
        text-transform: uppercase;
        text-align: right;
        font-size: 0.8em;
        font-weight: bold;
        border-bottom: 3px solid #00507d;
        display: inline-block;
        height: 55px;
        width: 90px; }
      #top100-page section.intro .intro-detail {
        color: #00507d;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; }
        #top100-page section.intro .intro-detail > div {
          width: 150px;
          text-align: center; }
        #top100-page section.intro .intro-detail .intro-detail-content .intro-detail-header {
          margin-bottom: 0; }
        #top100-page section.intro .intro-detail .intro-detail-content .intro-detail-number {
          font-size: 2em;
          margin-bottom: 0; }
    #top100-page section.enjoys .section-content {
      font-size: 1.3em;
      text-align: left; }
    #top100-page section.enjoys .enjoy-including {
      margin-top: 60px; }
      #top100-page section.enjoys .enjoy-including .enjoy-detail {
        margin-bottom: 15px; }
        #top100-page section.enjoys .enjoy-including .enjoy-detail img {
          width: 12vw;
          height: 12vw;
          object-fit: cover;
          border-radius: 100%;
          margin: 0 auto;
          display: block;
          margin-bottom: 15px; }
        #top100-page section.enjoys .enjoy-including .enjoy-detail p, #top100-page section.enjoys .enjoy-including .enjoy-detail li {
          font-size: 0.8em;
          padding: 12px; }
      #top100-page section.enjoys .enjoy-including .enjoy-plus {
        float: left;
        margin-top: 40vh; }
      #top100-page section.enjoys .enjoy-including .enjoy-finish {
        float: right;
        width: 80%; }
    #top100-page section.partners .section-content, #top100-page section.intro .section-content, #top100-page section .partners .section-content {
      margin: 0 auto; }
    #top100-page section.partners h3, #top100-page section.partners .h3-partner, #top100-page section.intro h3, #top100-page section.intro .h3-partner, #top100-page section .partners h3, #top100-page section .partners .h3-partner {
      text-align: center;
      font-weight: 600; }
    #top100-page section.partners .top100-partners, #top100-page section.intro .top100-partners, #top100-page section .partners .top100-partners {
      text-align: center;
      margin-bottom: 20px;
      display: flex;
      padding: 6px;
      border-radius: 3px;
      background: white;
      height: 140px;
      padding: 24px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); }
      #top100-page section.partners .top100-partners h3, #top100-page section.intro .top100-partners h3, #top100-page section .partners .top100-partners h3 {
        margin-top: 40px;
        margin-bottom: 20px; }
      #top100-page section.partners .top100-partners img, #top100-page section.intro .top100-partners img, #top100-page section .partners .top100-partners img {
        max-height: 96px;
        margin: auto;
        max-width: 100%; }
      #top100-page section.partners .top100-partners div, #top100-page section.intro .top100-partners div, #top100-page section .partners .top100-partners div {
        font-weight: 600;
        font-size: 14px; }
    #top100-page section.city-qualifiers {
      border-bottom: 1px solid #ececec; }
      #top100-page section.city-qualifiers .section-header {
        color: #73C7B7; }
      #top100-page section.city-qualifiers .section-content {
        font-size: 1.3em; }
      #top100-page section.city-qualifiers .qualifier-grid {
        position: relative;
        margin-top: 50px; }
        #top100-page section.city-qualifiers .qualifier-grid > .row {
          font-size: 0.9em; }
          #top100-page section.city-qualifiers .qualifier-grid > .row > div {
            padding-right: 0; }
          #top100-page section.city-qualifiers .qualifier-grid > .row:nth-child(odd) > div:nth-child(odd) {
            background-color: #73C7B7; }
            #top100-page section.city-qualifiers .qualifier-grid > .row:nth-child(odd) > div:nth-child(odd) .loc-triangle {
              border-color: transparent transparent #EFEFEF transparent; }
          #top100-page section.city-qualifiers .qualifier-grid > .row:nth-child(odd) > div:nth-child(even) {
            background-color: #EFEFEF; }
            #top100-page section.city-qualifiers .qualifier-grid > .row:nth-child(odd) > div:nth-child(even) .loc-triangle {
              border-color: transparent transparent #73C7B7 transparent; }
          #top100-page section.city-qualifiers .qualifier-grid > .row:nth-child(even) > div:nth-child(odd) {
            background-color: #EFEFEF; }
            #top100-page section.city-qualifiers .qualifier-grid > .row:nth-child(even) > div:nth-child(odd) .loc-triangle {
              border-color: transparent transparent #73C7B7 transparent; }
          #top100-page section.city-qualifiers .qualifier-grid > .row:nth-child(even) > div:nth-child(even) {
            background-color: #73C7B7; }
            #top100-page section.city-qualifiers .qualifier-grid > .row:nth-child(even) > div:nth-child(even) .loc-triangle {
              border-color: transparent transparent #EFEFEF transparent; }
          #top100-page section.city-qualifiers .qualifier-grid > .row .location {
            padding: 10px;
            padding-bottom: 40px;
            color: #00507d;
            text-transform: uppercase;
            position: relative; }
            #top100-page section.city-qualifiers .qualifier-grid > .row .location .loc-triangle {
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 0 30px 30px;
              position: absolute;
              bottom: 5px;
              right: 5px; }
            #top100-page section.city-qualifiers .qualifier-grid > .row .location:hover {
              cursor: pointer; }
        #top100-page section.city-qualifiers .qualifier-grid .location-detail {
          display: none;
          position: absolute;
          top: 0;
          height: 100%;
          background-color: rgba(115, 199, 183, 0.9); }
          #top100-page section.city-qualifiers .qualifier-grid .location-detail .location-container {
            padding: 24px; }
            #top100-page section.city-qualifiers .qualifier-grid .location-detail .location-container .location-shortlist {
              margin-bottom: 24px; }
            #top100-page section.city-qualifiers .qualifier-grid .location-detail .location-container .location-address {
              color: #00507d;
              margin-bottom: 20px; }
            #top100-page section.city-qualifiers .qualifier-grid .location-detail .location-container .location-img {
              background: url("../img/venues/spacemob.jpg");
              display: block;
              width: 100%;
              height: 100%;
              background-size: cover;
              background-position: 50% 50%;
              max-height: 250px;
              -webkit-filter: grayscale(100%);
              /* Safari 6.0 - 9.0 */
              filter: grayscale(100%);
              transition: 0.25s ease-in-out; }
              #top100-page section.city-qualifiers .qualifier-grid .location-detail .location-container .location-img img {
                width: 100%; }
              #top100-page section.city-qualifiers .qualifier-grid .location-detail .location-container .location-img:hover {
                -webkit-filter: grayscale(0%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(0%); }
            #top100-page section.city-qualifiers .qualifier-grid .location-detail .location-container .header h4 {
              margin: 0;
              color: white;
              font-weight: bold;
              text-transform: uppercase;
              border-bottom: 1px solid white;
              padding-bottom: 10px;
              margin-bottom: 10px; }
    #top100-page section.blognews .section-header {
      color: #00507d; }
    #top100-page section.blognews .section-content .row {
      margin-bottom: 10px; }
    #top100-page section.blognews .section-content .news-thumbnail img {
      width: 100%; }
    #top100-page section.blognews .section-content .news-content h3 {
      margin: 0; }
    #top100-page section.blognews .section-content .news-content a {
      color: #00507d; }
    #top100-page section.testimonials .container {
      max-width: 720px; }
    #top100-page section.testimonials .section-content {
      position: relative; }
      #top100-page section.testimonials .section-content .testimonial-quote {
        font-size: 3em;
        color: #73C7B7;
        position: absolute;
        top: -25px;
        left: 66px;
        z-index: 999; }
      #top100-page section.testimonials .section-content .carousel-testimonial li {
        padding: 25px 50px;
        color: #00507d;
        position: relative; }
        #top100-page section.testimonials .section-content .carousel-testimonial li img {
          display: block;
          max-height: 24px;
          text-align: left; }
      #top100-page section.testimonials .section-content .bx-wrapper {
        border-radius: 8px;
        border: none;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.699);
        padding: 12px 0; }
        #top100-page section.testimonials .section-content .bx-wrapper .bx-controls-direction a.bx-next {
          margin-right: -64px; }
        #top100-page section.testimonials .section-content .bx-wrapper .bx-controls-direction a.bx-prev {
          margin-left: -64px; }
    #top100-page section.alumni .section-header {
      color: #00507d; }
    #top100-page section.alumni .section-content .text {
      font-size: 16px; }
    #top100-page section.alumni .section-content .list-alumni {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      #top100-page section.alumni .section-content .list-alumni a {
        margin-right: 12px;
        margin-bottom: 14px;
        padding: 10px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); }
        #top100-page section.alumni .section-content .list-alumni a p {
          font-size: 0.8em;
          text-align: center;
          color: black;
          line-height: 1;
          padding: 0;
          margin: 6px; }
      #top100-page section.alumni .section-content .list-alumni img {
        width: 8vw;
        padding: 10px;
        min-width: 90px;
        height: 48px;
        object-fit: contain;
        display: block;
        margin: 0 auto; }
    #top100-page section.faq .section-header {
      color: #00507d; }
    #top100-page section.faq .section-content .faq-content {
      padding: 15px;
      background-color: #00507d;
      color: white;
      margin-bottom: 5px; }
    #top100-page section.how-to-apply {
      background-color: #00507d; }
      #top100-page section.how-to-apply .section-header {
        color: white; }
      #top100-page section.how-to-apply .section-content {
        max-width: 640px;
        padding: 40px;
        border: solid white 2px;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        line-height: 1.8; }
        #top100-page section.how-to-apply .section-content .list-alumni img {
          width: 100px; }
    #top100-page section.participate .section-header {
      color: #73C7B7; }
    #top100-page section.participate .section-content .list-investors img {
      width: 200px; }
    #top100-page section.benefits .section-content .forge-benefit {
      margin-bottom: 40px;
      padding-left: 50px;
      padding-top: 50px;
      min-height: 150px; }
      #top100-page section.benefits .section-content .forge-benefit-1 {
        background: url("../img/counts/1.png"); }
      #top100-page section.benefits .section-content .forge-benefit-2 {
        background: url("../img/counts/2.png"); }
      #top100-page section.benefits .section-content .forge-benefit-3 {
        background: url("../img/counts/3.png"); }
      #top100-page section.benefits .section-content .forge-benefit-4 {
        background: url("../img/counts/4.png"); }
      #top100-page section.benefits .section-content .forge-benefit-5 {
        background: url("../img/counts/5.png"); }
      #top100-page section.benefits .section-content .forge-benefit-6 {
        background: url("../img/counts/6.png"); }
      #top100-page section.benefits .section-content .forge-benefit-1, #top100-page section.benefits .section-content .forge-benefit-2, #top100-page section.benefits .section-content .forge-benefit-3, #top100-page section.benefits .section-content .forge-benefit-4, #top100-page section.benefits .section-content .forge-benefit-5, #top100-page section.benefits .section-content .forge-benefit-6 {
        background-repeat: no-repeat;
        background-size: 70px; }
    #top100-page section.coordinators .forge-coordinator {
      padding: 20px; }
      #top100-page section.coordinators .forge-coordinator .header h2 {
        font-size: 18px;
        text-align: center;
        font-weight: 600;
        border-bottom: 1px solid #ececec;
        padding-bottom: 20px; }
      #top100-page section.coordinators .forge-coordinator .content a.partner-logo {
        text-align: center;
        width: 100%;
        height: 128px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        #top100-page section.coordinators .forge-coordinator .content a.partner-logo img {
          max-height: 64px;
          margin: 10px; }
    #top100-page section.applynow {
      padding-top: 100px; }
      #top100-page section.applynow .section-content {
        position: relative;
        z-index: 10;
        max-width: 640px; }
        #top100-page section.applynow .section-content .top100-applynow {
          background: transparent;
          border-radius: 4px;
          padding: 60px 20px; }
          @media screen and (min-width: 480px) {
            #top100-page section.applynow .section-content .top100-applynow {
              padding: 80px 60px; } }
          #top100-page section.applynow .section-content .top100-applynow h1 {
            color: white;
            text-align: center; }
    #top100-page section.applynow {
      position: relative; }
      #top100-page section.applynow:before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: 50% 90%;
        background-size: 100% auto; }
    #top100-page section.milestones {
      border-bottom: #ececec solid 1px; }
      #top100-page section.milestones .section-content {
        font-size: 1.3em; }
        #top100-page section.milestones .section-content .milestones-stage h3 {
          font-weight: bold; }
    #top100-page section.prizes .top100-prizes {
      display: block;
      margin: 0 auto 80px;
      text-align: center; }
      #top100-page section.prizes .top100-prizes .prize-container {
        display: inline-block;
        background: rgba(255, 255, 255, 0.699);
        border: 3px solid #fff;
        height: 180px;
        width: 180px;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto 10px; }
        #top100-page section.prizes .top100-prizes .prize-container img {
          max-height: 100px;
          max-width: 100px;
          margin-top: 40px;
          height: 100%;
          vertical-align: middle; }
      #top100-page section.prizes .top100-prizes p {
        font-size: 16px;
        max-width: 280px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px; }
    #top100-page section.sponsors .media, #top100-page section.sponsors .other-partners {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto; }
    #top100-page section.sponsors .blurb {
      margin-top: 10px;
      margin-bottom: 10px;
      max-width: 1000px; }
      #top100-page section.sponsors .blurb a {
        background: white;
        border-radius: 3px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 160px;
        text-align: center;
        display: flex;
        margin-bottom: 20px; }
        #top100-page section.sponsors .blurb a img {
          margin: auto;
          max-width: 128px;
          max-height: 128px; }
      #top100-page section.sponsors .blurb h4 {
        font-weight: bold; }
      #top100-page section.sponsors .blurb h4, #top100-page section.sponsors .blurb p {
        padding-left: 10px; }
    #top100-page section.sponsors .other-partners {
      display: block;
      text-align: center;
      margin-top: 120px; }
      #top100-page section.sponsors .other-partners h3 {
        font-weight: bold; }
  #top100-page section.timeline, #top100-page section.contact {
    position: relative; }
    #top100-page section.timeline:before, #top100-page section.contact:before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-position: 50% 90%;
      background-size: 100% auto; }
  #top100-page section.timeline .forge-timeline {
    margin: 0 auto; }
    #top100-page section.timeline .forge-timeline .timeline-block {
      height: auto;
      max-width: 500px;
      margin: 0 auto; }
      #top100-page section.timeline .forge-timeline .timeline-block .left {
        float: left;
        padding-right: 10px;
        padding-top: 10px;
        width: 120px;
        text-align: right;
        display: block;
        font-style: italic;
        position: relative; }
      #top100-page section.timeline .forge-timeline .timeline-block .right {
        border-left: 2px solid #0b5394;
        padding-left: 20px;
        float: left;
        height: auto;
        display: block;
        padding-bottom: 30px; }
        #top100-page section.timeline .forge-timeline .timeline-block .right .visible-xs {
          font-weight: bold;
          font-style: italic; }
        #top100-page section.timeline .forge-timeline .timeline-block .right .right-content {
          max-width: 420px;
          transition: all ease-in-out 200ms;
          border: none;
          border-bottom: #0b5394 2px solid;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
          cursor: pointer; }
          #top100-page section.timeline .forge-timeline .timeline-block .right .right-content:hover {
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
            transform: translateX(-10px); }
          #top100-page section.timeline .forge-timeline .timeline-block .right .right-content .header {
            display: block;
            background: #fff;
            color: #0b5394;
            padding: 10px 40px;
            font-family: "Montserrat";
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            position: relative; }
            #top100-page section.timeline .forge-timeline .timeline-block .right .right-content .header:after {
              right: 100%;
              top: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(255, 255, 255, 0);
              border-right-color: #fff;
              border-width: 10px;
              margin-top: -10px; }
          #top100-page section.timeline .forge-timeline .timeline-block .right .right-content .content {
            padding-top: 10px;
            color: #333; }
            #top100-page section.timeline .forge-timeline .timeline-block .right .right-content .content p {
              font-weight: 600;
              margin-left: 20px;
              margin-top: 20px; }
