$background: #00507d;
$foreground: #73C7B7;
$grey: #EFEFEF;

@font-face {
    font-family: "Montserrat";
    src: url('../../css/fonts/Montserrat-Medium.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('../../css/fonts/Montserrat-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url('../../css/fonts/Montserrat-ExtraLight.ttf');
    font-weight: lighter;
}

body {
    font-family: "Open Sans";
}

//Forge Landing Page Styles
#top100-page{
    //General Styles
    $magic-number: 10px;
    $main-color: #0b5394 ;
    $main-foreground: #fff;
    font-size: 15px;
    color: #333;
    
    div.top100-nav-container{
        background: $main-color;
        color: white;
        border-radius: 0;
        border: none;

        .top100-nav{
            text-align: center;
        }

        .navbar-center{
            margin: 0 auto;
            text-align: center;
            display: inline-block;
            float: none;

            a{
                color: white;
                font-family: "Montserrat";
                text-transform: uppercase;
                font-weight: 600;

                &:hover, &.active{
                    color: $main-color;
                    background: white;
                }
            }
        }
    }

    .top100-card{
        text-align: center;
        margin: 0 auto;
        padding: 20px;
        .top100-card-img{
            border-radius: 50%;
            width: 160px;
            height: 160px;
            display: block;
            background: rgba(255, 255, 255, 0.9);
            border: 3px solid #fff;
            margin: 0 auto $magic-number*2;
            img{
                margin-top: 48px;
                max-height: 64px;
                vertical-align: middle;
            }
            
        }

        .top100-card-text{
            font-size: 20px;
        }
    }
    
    .highlights-card{
        box-shadow: 1px 1px 10px rgba(0,0,0,.1);
        margin: 20px auto;
        background: #fff;
        overflow: hidden;
        // margin-left: 10px;
        // margin-right: 10px;
        position: relative;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
        
        margin-top: 0;
        min-height: 369px;
        height: auto;
        border-radius: 4px;

        img{
            height: 180px;
            background-position: 50% 50%!important;
            background-size: cover!important;
        }
        
        .image-cover{
            height: 180px;
            background-size: cover !important;
            background-position: 50% 50% !important;
        }

        h3, p {
            margin-left: 30px;
            margin-right: 30px;
            text-align: center;
            color: #333;
        }

        h3{
            font-weight: 600;

        }

        p{
            font-size: 14px;
        }
    }

    .btn-black-line{
        white-space: normal;
        // background-color: transparent !important;
        color: #081945;
        font-size: 15px !important;
        letter-spacing: 2px;
        border: 2px solid black;
        width: auto;
        padding: 10px 48px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        transition: all 200ms ease-in-out;
        background: #fff;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        margin-bottom: 10px;
        &:hover{
            color: #fff;
            border-color:  $main-color;
            background: $main-color !important;
        }
       
    }
    .btn-white-line {

    }
    .echelon-contact {
        .btn-black-line {
            font-size: 12px;
        }
    }

    .section-blue{
        color: white;
        h1{
            color: white;
            font-weight: 700;
        }  
        background: $main-color;
        background: url('https://e27.co/dist/img/echelon_index/blue-polygon.svg');
        background-size: cover;
    }

    section{
        width: 100%;
        padding: 60px 0 100px;

        //Blue Section
        &.applynow, &.industries, &.enjoys, &.prizes, &.testimonials, &.how-to-apply{
            @extend .section-blue;
        }

        &.industries2, &.prizes{
            .section-content{
                max-width: 840px;
            }
        }
        
        .container {
            // width: 80%;
            margin: 0 auto;
        }

        .section-header{
            text-align: center;
            margin: 0 auto;
            margin-bottom: 40px;
            h1{
                font-weight: 600;
                text-align: center;
            }
        }
        .section-content{
            margin: 0 auto;

            a.btn{
                margin-top: $magic-number*4;
            }
        }

        //Forge Header Section
        &.top100-header{
            padding: 0;
            height: auto;
            min-height: 360px;
            // position: relative;
            background: #222;
            background: url('../img/top100-bg.jpg') no-repeat;
            background-size: cover;
            background-position: 50% 60%;
            position: relative;

            .top100-overlay{
                background: rgba(3, 53, 86, 0.95);
                width: 100%; height: 100%;
                position: absolute;
                left: 0; top: 0;
               // opacity: 50%;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.7+0,0.2+100 */
                // background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
                // background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
                // background: radial-gradient(ellipse at center, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#33000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

                .breaknews {
                    background-color: $background;
                    color: $foreground;
                    text-align: center;
                    padding: 5px;
                }
            }

            h1{
                color: white;
                font-weight: 500;
                line-height: 1.3;
                font-size: 3.5em;
            }
            h2{
                color: white;
                font-size: 1em;
                line-height: 1.5;
                margin-bottom: $magic-number *4
            }

            .container{
                // height: 100%;

                .top100-header-content {
                    margin: 100px auto;
                    text-align: center;
                    position: relative;
                    z-index: 10;
                    
                    .main-logo{
                        display: block;
                        img{
                            // width: 480px;
                            max-height: 200px;
                            max-width: 80%;
                            margin-bottom: 32px;
                        }
                    }

                    .countdown {
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;

                        .countdown-title {
                            // display: inline-block;
                            display: block;
                            text-align: center;
                            font-size: 1.5em;
                            color: $foreground;
                            margin-bottom: 12px;
                        }
                        #time-countdown {
                            // display: inline-block;
                            display: block;
                            color: #fff;

                            .timebox {
                                display: inline-block;
                                margin-left: 15px;
                                span {
                                    display: inline-block;
                                    background-color: $background;
                                    padding: 5px 0px;
                                    width: 50px;
                                    font-size: 1.5em;
                                    border: 1px dashed $foreground;
                                    margin-bottom: 6px;
                                }
                            }
                        }
                    }

                    .btn-apply {
                        background-color: transparent;
                        border: 2px solid white;
                        color: white;
                        // padding: 10px 50px;
                        padding: 10px 64px;
                        // text-transform: uppercase;
                        display: inline-block;
                        margin-top: 36px;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .partners{
                        margin-top: 40px;
                        height: 48px;

                        display: block;
                        a {
                            display: inline-block;
                            vertical-align: bottom;
                            padding: $magic-number;
                            img{
                                height: 60%;
                            }
                        }

                        .partner-pwc{
                            img{
                                height: 100%;
                            }
                        }
                    }
                }
                .top100-nav{
                    background: $main-color;
                }
                
            }
        }

        &.intro{
            background: url('../img/asia_map_50.png') no-repeat;
            background-size: contain;
            background-position-x: 0 0;

            .section-content{
                font-size: 1.3em;
                text-align: left;
            }
            p {
                margin: 0 auto $magic-number *3;
            }
            .intro-detail-eg{
                color: $background;
                text-transform: uppercase;
                text-align: right;
                font-size: 0.8em;
                font-weight: bold;
                border-bottom: 3px solid $background;
                display: inline-block;
                height: 55px;
                width: 90px;
            }
            .intro-detail{
                color: $background;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                & > div {
                    width: 150px;
                    text-align: center;
                }
                .intro-detail-content{
                    .intro-detail-header{
                        margin-bottom: 0;
                    }
                    .intro-detail-number{
                        font-size: 2em;
                        margin-bottom: 0;
                    }
                }
            }
        }

        &.enjoys {
            .section-content{
                font-size: 1.3em;
                text-align: left;
            }
            .enjoy-including {
                margin-top: 60px;
                
                .enjoy-detail{
                    margin-bottom: 15px;
                    img{
                        width: 12vw;
                        height: 12vw;
                        object-fit: cover;
                        border-radius: 100%;
                        display: block;
                        margin-bottom: 15px;
                    }
                    p, li{
                        font-size: 0.8em;
                        padding: 12px;
                    }
                    &:not(.enjoy-finish) img {
                        margin: 0 auto;
                    }
                }

                .enjoy-plus{
                    float: left;
                    margin-top: 40vh;
                }
                .enjoy-finish{
                    float: right;
                    // width: 80%;
                }
            }
        }

        &.partners, &.intro, .partners{
            .section-content{
                // max-width: 800px;
                margin: 0 auto;
            }
            h3, .h3-partner{
                text-align: center;
                font-weight: 600;  
            }

            .top100-partners{
                text-align: center;
                margin-bottom: $magic-number*2;
                display: flex;
                padding: 6px;
                border-radius: 3px;
                background: white;
                height: 140px;
                padding: 24px;
                box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
                h3{
                    margin-top: $magic-number*4;
                    margin-bottom: $magic-number*2;
                }
                img{
                    max-height: 96px;
                    // margin-bottom: $magic-number;
                    margin: auto;
                    max-width: 100%;
                }
                div {
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }

        &.city-qualifiers{
            border-bottom: 1px solid #ececec;
            .section-header{
                color: $foreground;
            }
            .section-content{
                font-size: 1.3em;
            }
            .qualifier-grid{
                position: relative;
                margin-top: 50px;

                & > .row {
                    font-size: 0.9em;
                    & > div {
                        padding-right: 0;
                    }
                    &:nth-child(odd) {
                        & > div {
                            &:nth-child(odd) {
                                background-color: $foreground;
                                .loc-triangle { border-color: transparent transparent $grey transparent; }
                            }
                            &:nth-child(even) {
                                background-color: $grey;
                                .loc-triangle { border-color: transparent transparent $foreground transparent; }
                            }
                        }
                    }
                    &:nth-child(even) {
                        & > div {
                            &:nth-child(odd) {
                                background-color: $grey;
                                .loc-triangle { border-color: transparent transparent $foreground transparent; }
                            }
                            &:nth-child(even) {
                                background-color: $foreground;
                                .loc-triangle { border-color: transparent transparent $grey transparent; }
                            }
                        }
                    }

                    .location {
                        padding: 10px;
                        padding-bottom: 40px;
                        color: $background;
                        text-transform: uppercase;
                        position: relative;

                        .loc-triangle {
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 0 30px 30px;
                            position: absolute;
                            bottom: 5px;
                            right: 5px;                        
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .location-detail{
                    display: none;
                    position: absolute;
                    top: 0;
                    height: 100%;
                    background-color: rgba(115,199,183,0.9);

                    .location-container {
                        padding: 24px;
                        .location-shortlist {
                            margin-bottom: 24px;
                        }

                        .location-address{
                            color: $background;
                            margin-bottom: 20px;
                        }
                        .location-img{
                            background: url('../img/venues/spacemob.jpg');
                            display: block;
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: 50% 50%;
                            max-height: 250px;
                            img{ width: 100%; }
                            
                            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                            filter: grayscale(100%);
                            transition: 0.25s ease-in-out;
                            &:hover {
                                -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                                filter: grayscale(0%)
                            }
                        }
                        .header{
                            h4{
                                margin: 0;
                                color: white;
                                font-weight: bold;
                                text-transform: uppercase;
                                border-bottom: 1px solid white;
                                // padding-left: 10px;
                                padding-bottom: 10px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }

        &.blognews{
            .section-header{
                color: $background;
            }
            .section-content{
                .row{ margin-bottom: 10px; }
                .news-thumbnail{
                    img{ width: 100% }
                }
                .news-content{
                    h3{ margin:0 }
                    a{ color: $background }
                }
            }
        }

        &.testimonials{
            .container{
                max-width: 720px;
            }
            .section-content{
                position: relative;

                .testimonial-quote{
                    font-size: 3em;
                    color: #73C7B7;
                    position: absolute;
                    top: -25px;
                    left: 66px;
                    z-index: 999;
                }
                .carousel-testimonial{
                    li{
                        padding: 25px 50px;
                        color: $background;
                        position: relative;

                        img {
                            display:  block;
                            max-height: 24px;
                            // margin-left: auto;
                            // margin-right: auto;
                            text-align: left;
                        }
                    }
                    
                }
                //Custom Button
                .bx-wrapper {
                    border-radius: 8px;
                    border: none;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.699);
                    padding: 12px 0;
                    .bx-controls-direction a {
                        &.bx-next {
                            margin-right: -64px;
                        }
                        &.bx-prev {
                            margin-left: -64px;
                        }
                    }
                }
            }
        }

        &.alumni{
            .section-header{
                color: $background;
            }
            .section-content{
                .text {font-size: 16px;}
                .list-alumni{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    a{
                        margin-right: 12px;
                        margin-bottom: 14px;
                        padding: 10px;
                        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
                        p{
                            font-size: 0.8em;
                            text-align: center;
                            color: black;
                            line-height: 1;
                            padding: 0; margin: 6px;
                        }
                    }
                    img{
                        width: 8vw;
                        padding: 10px;
                        min-width: 90px;
                        height: 48px;
                        object-fit: contain;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }

        &.faq{
            .section-header{
                color: $background;
            }
            .section-content{
                #accordion-faq{
                    .panel-heading{
                        padding: 15px;
                        background-color: $background;
                        color: white;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        &.how-to-apply{
            background-color: $background;

            .section-header{
                color: white;
            }
            .section-content{
                max-width: 640px;
                padding: 40px;
                border: solid white 2px;
                border-radius: 8px;
                color: white;
                font-size: 16px;
                line-height: 1.8;
                .list-alumni{
                    img{
                        width: 100px;
                    }
                }
            }
        }

        &.participate{
            .section-header{
                color: $foreground;
            }
            .section-content{
                .list-investors{
                    img{
                        width: 200px;
                    }
                }
            }
        }

        &.benefits{
            .section-content{
                .forge-benefit{
                    margin-bottom: $magic-number*4;
                    $var: $magic-number*5;
                    padding-left: $var;
                    padding-top: $var;
                    min-height: 150px;

                    &-1{ background: url('../img/counts/1.png');}                    
                    &-2{ background: url('../img/counts/2.png');}
                    &-3{ background: url('../img/counts/3.png');}
                    &-4{ background: url('../img/counts/4.png');}
                    &-5{ background: url('../img/counts/5.png');}
                    &-6{ background: url('../img/counts/6.png');}
                    &-1, &-2, &-3, &-4, &-5, &-6{
                        background-repeat: no-repeat;   
                        background-size: 70px; 
                    }
                }

            
            }
        }

        &.coordinators{
            .forge-coordinator{
                padding: $magic-number*2;
                .header{
                    h2{
                        font-size: 18px;
                        text-align: center;
                        font-weight: 600;
                        border-bottom: 1px solid #ececec;
                        padding-bottom: $magic-number*2;
                    }
                }
                .content{
                    a.partner-logo{
                        text-align: center;
                        width: 100%;
                        height: 128px;
                        display: flex; flex-direction: column; justify-content: center; align-items: center;
                        img{
                            max-height: 64px;
                            margin: $magic-number;
                        }
                    }
                }

            }
        }

        &.applynow{
            padding-top: 100px;
            .section-content{
                position: relative;
                z-index: 10;
                max-width: 640px;
                
                .top100-applynow{
                    background: transparent;
                    border-radius: 4px;
                    padding: $magic-number*6 $magic-number*2;
                    @media screen and (min-width: 480px){
                        padding:  $magic-number*8 $magic-number*6;
                        
                    }
                    h1{
                        color: white;
                        text-align: center;
                    }
                }
            }
        }

        &.applynow{
            position: relative;
            &:before{
                content:" ";
                display: block;
                position: absolute;
                top:0;
                width: 100%;
                height: 100%;
                // background: url("../img/bg.png") no-repeat;
                background-position: 50% 90%;
                background-size: 100% auto;
            }
        }

        &.milestones {
            border-bottom: #ececec solid 1px;
            .section-content {
                font-size: 1.3em;
                .milestones-stage {
                    h3 {
                        font-weight: bold;
                    }
                }
            }
        }

        &.prizes{
            .top100-prizes{
                display: block;
                margin: 0 auto 80px;
                text-align: center;
                .prize-container{
                    display: inline-block;
                    background: rgba(255, 255, 255, 0.699);
                    border: 3px solid #fff;
                    height: 180px;
                    width: 180px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto 10px;
                    
                    img{
                        // max-width: 128px
                        max-height: 100px;
                        max-width: 100px;
                        margin-top: 40px;
                        height: 100%;
                        vertical-align: middle;
                    }
                }
                
                p{
                    font-size: 16px;
                    max-width: 280px;
                    text-align: center;
                    margin: 0 auto;
                    margin-top: 20px;
                    
                }
                
            }
        }

        &.sponsors{
            .media, .other-partners{
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
            }
            .blurb{
                // margin:0 auto;
                margin-top: 10px;
                margin-bottom: 10px;
                max-width: 1000px;
                a{
                    background: white;
                    border-radius: 3px;
                    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
                    width: 100%;
                    height: 160px;
                    text-align: center;
                    display: flex;
                    margin-bottom: 20px;
                    img{
                        margin: auto;
                        max-width: 128px;
                        max-height: 128px;
                    }
                }

                h4{
                    font-weight: bold;
                }
                h4,p{
                    padding-left: 10px;
                }
                
                
            }
            .other-partners{
                display: block;
                text-align: center;
                margin-top: 120px;
                h3{
                    font-weight: bold;
                }
                //
            }
        }
    }

    section{
        &.timeline, &.contact{
            position: relative;
            &:before{
                content:" ";
                display: block;
                position: absolute;
                top:0;
                width: 100%;
                height: 100%;
                // background: url("../img/bg.png") no-repeat;
                background-position: 50% 90%;
                background-size: 100% auto;
            }
        }

        &.timeline{
            .forge-timeline{
                margin: 0 auto;
                .timeline-block{
                    height: auto;
                    max-width: 500px;
                    margin: 0 auto;
                    .left{
                        float: left;
                        padding-right: 10px;
                        padding-top: 10px;
                        width: 120px;
                        text-align: right;
                        display: block;
                        font-style: italic;
                        position: relative;
                    }
                    .right{
                        border-left: 2px solid $main-color;
                        padding-left: 20px;
                        float: left;
                        height: auto;
                        display: block;
                        padding-bottom: $magic-number*3;
                        .visible-xs{
                            font-weight: bold;
                            font-style: italic;
                        }
                        
                        .right-content{ 
                            max-width: 420px;
                            transition: all ease-in-out 200ms;
                            border: none;
                            border-bottom: $main-color 2px solid;
                            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);                            
                            cursor: pointer;
                            &:hover{
                                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
                                transform: translateX(-10px);
                            }
                            .header{
                                display: block;
                                background: #fff;
                                color: $main-color;
                                padding: $magic-number $magic-number*4;
                                font-family: "Montserrat";
                                font-weight: 600;
                                font-size: 18px;
                                text-transform: uppercase;
                                position: relative;
                                
                                &:after{
                                    right: 100%;
                                    top: 50%;
                                    border: solid transparent;
                                    content: " ";
                                    height: 0;
                                    width: 0;
                                    position: absolute;
                                    pointer-events: none;
                                    border-color: rgba(255, 255, 255, 0);
                                    border-right-color: #fff;
                                    border-width: 10px;
                                    margin-top: -10px;
                                }
                            }
                            .content{
                                padding-top: 10px;
                                color: #333;
                                p{
                                    font-weight: 600;
                                    margin-left: $magic-number*2;;
                                    margin-top: $magic-number*2;
                                }
                            }
                           
                        }
                        
                    }
                }
            }
        }
    }
       
};