//Forge Landing Page Styles
#forge-page{
    //General Styles
    $magic-number: 10px;

    .section-blue{
        color: white;
        h1{
            color: white;
        }  
        background: #0b5394;
    }

    section{
        width: 100%;
        padding: 60px 0 100px;

        //Blue Section
        &.concept, &.timeline, &.contact{
            @extend .section-blue;
        }

        .section-header{
            padding: 20px 0;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 60px;
            h1{
                font-weight: 600;
                text-align: center;
            }
        }

        //Forge Header Section
        &.forge-header{
            padding: 0;
            height: 100%;
            min-height: 100%;
            position: relative;
            background: url('../img/bg.png') no-repeat;
            background-size: 100% auto;
            background-position: 50% 60%;

            .container{
                height: 100%;

                .forge-header-content{
                    margin: 0 auto;
                    margin-top: 120px;
                    text-align: center;
                    
                    .forge-logo{
                        display: block;
                        img{
                            width: 480px;
                        }
                    }

                    .partners{
                        margin-top: 40px;
                        height: 56px;
                        a {
                            img{
                                height: 50%;
                            }
                        }

                        .partner-pwc{
                            img{
                                height: 100%;
                            }
                        }
                    }
                }
                
            }
        }

        &.concept{
            p{
                text-align: center;
            }
            .forge-card{
                text-align: center;
                max-width: 320px;
                .forge-card-img{
                    max-width: 128px;
                    margin: 0 auto;
                }

                .forge-card-text{

                }
            }
        }

        &.focus{
            .section-content{
                width: 80%;
                margin: 0 auto;
                .forge-focus{
                    text-align: center;
                    margin-bottom: $magic-number*3;

                    img{
                        width: 160px;
                        margin-bottom: $magic-number;
                    }
                    div{
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
            }
        }

        &.benefits{
            .section-content{
                .forge-benefit{
                    margin-bottom: $magic-number*4;
                    $var: $magic-number*5;
                    padding-left: $var;
                    padding-top: $var;
                    min-height: 150px;

                    &-1{ background: url('../img/counts/1.png');}                    
                    &-2{ background: url('../img/counts/2.png');}
                    &-3{ background: url('../img/counts/3.png');}
                    &-4{ background: url('../img/counts/4.png');}
                    &-5{ background: url('../img/counts/5.png');}
                    &-6{ background: url('../img/counts/6.png');}
                    &-1, &-2, &-3, &-4, &-5, &-6{
                        background-repeat: no-repeat;   
                        background-size: 70px; 
                    }
                }

            
            }
        }

        &.coordinators{
            .forge-coordinator{
                padding: $magic-number*2;
                .header{
                    h2{
                        font-size: 18px;
                        text-align: center;
                        font-weight: 600;
                    }
                }
                .content{
                    a{
                        text-align: center;
                        width: 100%;
                        display: block;
                        img{
                            max-height: 64px;
                            margin: $magic-number;
                        }
                    }
                }

            }
        }
        
    }
       
};