//Forge Landing Page Styles
#forge-page{
    //General Styles

    .section-blue{
        color: white;
        h1{
            color: white;
        }  
        background: #0b5394;
    }

    section{
        width: 100%;
        padding: 40px 0;

        //Blue Section
        &.concept, &.timeline, &.contact{
            @extend .section-blue;
        }

        .section-header{
            padding: 40px 0;
            text-align: center;
            margin: 0 auto;
            h1{
                font-weight: 600;
                text-align: center;
            }
        }

        //Forge Header Section
        &.forge-header{
            padding: 0;
            height: 100%;
            min-height: 100%;
            position: relative;
            background: url('../img/bg.png') no-repeat;
            background-size: 100% auto;
            background-position: 50% 60%;

            .container{
                height: 100%;

                .forge-header-content{
                    margin: 0 auto;
                    margin-top: 120px;
                    text-align: center;
                    
                    .forge-logo{
                        display: block;
                        img{
                            width: 480px;
                        }
                    }

                    .partners{
                        margin-top: 40px;
                        height: 36px;
                    }
                }
                
            }
        }

        &.concept{
             .forge-card{
                text-align: center;
                max-width: 320px;
                .forge-card-img{

                }

                .forge-card-text{

                }
            }
        }
        
    }
       
};