#forge-page .btn-black-line {
  white-space: normal;
  color: #000;
  font-size: 15px !important;
  letter-spacing: 2px;
  border: 2px solid black;
  width: auto;
  padding: 10px 48px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: all 200ms ease-in-out;
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); }
  #forge-page .btn-black-line:hover {
    color: #fff;
    border-color: #081945;
    background: #081945 !important; }

#forge-page .section-blue, #forge-page section.concept, #forge-page section.timeline, #forge-page section.contact {
  color: white;
  background: #0b5394; }
  #forge-page .section-blue h1, #forge-page section.concept h1, #forge-page section.timeline h1, #forge-page section.contact h1 {
    color: white; }

#forge-page section {
  width: 100%;
  padding: 60px 0 100px; }
  #forge-page section .section-header {
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px; }
    #forge-page section .section-header h1 {
      font-weight: 600;
      text-align: center; }
  #forge-page section.forge-header {
    padding: 0;
    height: 100%;
    min-height: 100%;
    position: relative;
    background: url("../img/bg.png") no-repeat;
    background-size: 100% auto;
    background-position: 50% 60%; }
    #forge-page section.forge-header a.btn-plz-scrolldown {
      position: absolute;
      bottom: 20px;
      left: 50%;
      z-index: 2;
      display: inline-block;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #333;
      transition: opacity .3s; }
    #forge-page section.forge-header a.btn-plz-scrolldown {
      padding-top: 80px; }
    #forge-page section.forge-header a.btn-plz-scrolldown span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #333;
      border-bottom: 1px solid #333;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb07 2s infinite;
      animation: sdb07 2s infinite;
      opacity: 0;
      box-sizing: border-box; }
    #forge-page section.forge-header a.btn-plz-scrolldown span:nth-of-type(1) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s; }
    #forge-page section.forge-header a.btn-plz-scrolldown span:nth-of-type(2) {
      top: 16px;
      -webkit-animation-delay: .15s;
      animation-delay: .15s; }
    #forge-page section.forge-header a.btn-plz-scrolldown span:nth-of-type(3) {
      top: 32px;
      -webkit-animation-delay: .3s;
      animation-delay: .3s; }

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes sdb07 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
    #forge-page section.forge-header .container {
      height: 100%; }
      #forge-page section.forge-header .container .forge-header-content {
        margin: 0 auto;
        margin-top: 120px;
        text-align: center; }
        #forge-page section.forge-header .container .forge-header-content .forge-logo {
          display: block; }
          #forge-page section.forge-header .container .forge-header-content .forge-logo img {
            max-width: 480px; }
        #forge-page section.forge-header .container .forge-header-content .partners {
          margin-top: 40px;
          height: 56px;
          display: block; }
          #forge-page section.forge-header .container .forge-header-content .partners a {
            display: inline-block;
            vertical-align: bottom;
            padding: 10px; }
            #forge-page section.forge-header .container .forge-header-content .partners a img {
              height: 60%; }
          #forge-page section.forge-header .container .forge-header-content .partners .partner-pwc img {
            height: 100%; }
  #forge-page section.concept p {
    text-align: center; }
  #forge-page section.concept .forge-card {
    text-align: center;
    max-width: 320px; }
    #forge-page section.concept .forge-card .forge-card-img {
      max-width: 128px;
      margin: 0 auto; }
  #forge-page section.focus .section-content {
    width: 80%;
    margin: 0 auto; }
    #forge-page section.focus .section-content .forge-focus {
      text-align: center;
      margin-bottom: 30px; }
      #forge-page section.focus .section-content .forge-focus img {
        width: 160px;
        margin-bottom: 10px; }
      #forge-page section.focus .section-content .forge-focus div {
        font-weight: 600;
        font-size: 16px; }
  #forge-page section.benefits .section-content .forge-benefit {
    margin-bottom: 40px;
    padding-left: 50px;
    padding-top: 50px;
    min-height: 150px; }
    #forge-page section.benefits .section-content .forge-benefit-1 {
      background: url("../img/counts/1.png"); }
    #forge-page section.benefits .section-content .forge-benefit-2 {
      background: url("../img/counts/2.png"); }
    #forge-page section.benefits .section-content .forge-benefit-3 {
      background: url("../img/counts/3.png"); }
    #forge-page section.benefits .section-content .forge-benefit-4 {
      background: url("../img/counts/4.png"); }
    #forge-page section.benefits .section-content .forge-benefit-5 {
      background: url("../img/counts/5.png"); }
    #forge-page section.benefits .section-content .forge-benefit-6 {
      background: url("../img/counts/6.png"); }
    #forge-page section.benefits .section-content .forge-benefit-1, #forge-page section.benefits .section-content .forge-benefit-2, #forge-page section.benefits .section-content .forge-benefit-3, #forge-page section.benefits .section-content .forge-benefit-4, #forge-page section.benefits .section-content .forge-benefit-5, #forge-page section.benefits .section-content .forge-benefit-6 {
      background-repeat: no-repeat;
      background-size: 70px; }
  #forge-page section.coordinators .forge-coordinator {
    padding: 20px; }
    #forge-page section.coordinators .forge-coordinator .header h2 {
      font-size: 18px;
      text-align: center;
      font-weight: 600; }
    #forge-page section.coordinators .forge-coordinator .content a {
      text-align: center;
      width: 100%;
      display: block; }
      #forge-page section.coordinators .forge-coordinator .content a img {
        max-height: 64px;
        margin: 10px; }
