//Forge Landing Page Styles
#forge-page{
    //General Styles
    $magic-number: 10px;

    


    .btn-black-line{
        white-space: normal;
        // background-color: transparent !important;
        color: #081945;
        font-size: 15px !important;
        letter-spacing: 2px;
        border: 2px solid black;
        width: auto;
        padding: 10px 48px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        transition: all 200ms ease-in-out;
        background: #fff;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

        &:hover{
            color: #fff;
            border-color:  #081945;
            background: #081945 !important;
        }
    }

    .section-blue{
        color: white;
        h1{
            color: white;
        }  
        background: #081945;
    }

    section{
        width: 100%;
        padding: 60px 0 100px;

        //Blue Section
        &.concept, &.timeline, &.contact{
            @extend .section-blue;
        }

        .section-header{
            padding: 20px 0;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 40px;
            h1{
                font-weight: 600;
                text-align: center;
            }
        }
        .section-content{
            margin: 0 auto;
        }

        //Forge Header Section
        &.forge-header{
            padding: 0;
            height: 100%;
            min-height: 100%;
            position: relative;
            background: url('../img/bg.png') no-repeat;
            background-size: 100% auto;
            background-position: 50% 60%;

            //Scrolldown Button
            a.btn-plz-scrolldown{
                position: absolute;
                bottom: 20px;
                left: 50%;
                z-index: 2;
                display: inline-block;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                color: #333;
                transition: opacity .3s;
            }
            a.btn-plz-scrolldown {
                padding-top: 80px;
            }
            a.btn-plz-scrolldown span {
                position: absolute;
                top: 0;
                left: 50%;
                width: 24px;
                height: 24px;
                margin-left: -12px;
                border-left: 1px solid #333;
                border-bottom: 1px solid #333;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-animation: sdb07 2s infinite;
                animation: sdb07 2s infinite;
                opacity: 0;
                box-sizing: border-box;
            }
            a.btn-plz-scrolldown span:nth-of-type(1) {
                -webkit-animation-delay: 0s;
                animation-delay: 0s;
            }
            a.btn-plz-scrolldown span:nth-of-type(2) {
                top: 16px;
                -webkit-animation-delay: .15s;
                animation-delay: .15s;
            }
            a.btn-plz-scrolldown span:nth-of-type(3) {
                top: 32px;
                -webkit-animation-delay: .3s;
                animation-delay: .3s;
                }
            @-webkit-keyframes sdb07 {
                0% {
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
            @keyframes sdb07 {
                0% {
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }

            .container{
                height: 100%;

                .forge-header-content{
                    margin: 0 auto;
                    margin-top: 120px;
                    text-align: center;
                    
                    .forge-logo{
                        display: block;
                        img{
                            max-width: 480px;
                        }
                    }

                    .partners{
                        margin-top: 40px;
                        height: 56px;
                        display: block;
                        a {
                            display: inline-block;
                            vertical-align: bottom;
                            padding: $magic-number;
                            img{
                                height: 60%;
                            }
                        }

                        .partner-pwc{
                            img{
                                height: 100%;
                            }
                        }
                    }
                }
                
            }
        }

        &.concept{
            .section-content{
                max-width: 800px;
                margin:0 auto;
            }
            p{
                text-align: center;
                margin: 0 auto $magic-number *3;
            }
            .forge-card{
                text-align: center;
                max-width: 320px;
                margin: 0 auto;
                .forge-card-img{
                    max-width: 128px;
                    margin: 0 auto;
                }

                .forge-card-text{

                }
            }
        }

        &.focus{
            .section-content{
                max-width: 800px;
                margin: 0 auto;
                .forge-focus{
                    text-align: center;
                    margin-bottom: $magic-number*3;

                    img{
                        width: 160px;
                        margin-bottom: $magic-number;
                    }
                    div{
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
            }
        }

        &.benefits{
            .section-content{
                .forge-benefit{
                    margin-bottom: $magic-number*4;
                    $var: $magic-number*5;
                    padding-left: $var;
                    padding-top: $var;
                    min-height: 150px;

                    &-1{ background: url('../img/counts/1.png');}                    
                    &-2{ background: url('../img/counts/2.png');}
                    &-3{ background: url('../img/counts/3.png');}
                    &-4{ background: url('../img/counts/4.png');}
                    &-5{ background: url('../img/counts/5.png');}
                    &-6{ background: url('../img/counts/6.png');}
                    &-1, &-2, &-3, &-4, &-5, &-6{
                        background-repeat: no-repeat;   
                        background-size: 70px; 
                    }
                }

            
            }
        }

        &.coordinators{
            .forge-coordinator{
                padding: $magic-number*2;
                .header{
                    h2{
                        font-size: 18px;
                        text-align: center;
                        font-weight: 600;
                    }
                }
                .content{
                    a{
                        text-align: center;
                        width: 100%;
                        display: block;
                        img{
                            max-height: 64px;
                            margin: $magic-number;
                        }
                    }
                }

            }
        }

        &.contact{
            .section-content{
                max-width: 640px;

                .forge-contactform{
                    background: white;
                    padding:  $magic-number*8 $magic-number*6;
                    border-radius: 4px;
                }
            }
        }
        
    }
       
};